Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

fix(cplane): Copilot レビューの must 3 件と CI の toolchain を直す
  .github/workflows/interop-clab.yaml
  docs/design/ja/cplane-plugin.md
  pkg/cli/cmd_cplane_plugin.go
  pkg/cli/cmd_cplane_plugin_test.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/scope.go
  pkg/cplane/scope_test.go
  pkg/server/cplane_plugin.go
  pkg/server/server.go
  pkg/server/vrf_bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(cplane): Copilot 2-3 巡目の must 3 件を直す
  docs/design/ja/cplane-plugin.md
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/scope_test.go
  pkg/cplane/store_test.go
  pkg/server/vrf_bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): address OCR/codex review — 4 blockers and security should-fix
  api/vinbero/v1/plugin.pb.go
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/scope.go
  pkg/cplane/scope_test.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
  pkg/server/cplane_plugin.go
  pkg/server/vrf_bgp_test.go
  proto/vinbero/v1/plugin.proto
  sdk/go/cplaneharness/harness.go
  src/core/xdp_tailcall_macros.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(cplane): address OCR round-2 security and testing findings
  docs/design/ja/cplane-plugin.md
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/scope_test.go
  pkg/cplane/store_test.go
  pkg/server/cplane_plugin.go
  pkg/server/plugin.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): reserve grants of unrestored plugins and clear the record on re-register
  docs/design/ja/cplane-plugin.md
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): make the plugin RO-write scan sound against subprograms and pointer laundering
  docs/design/ja/cplane-plugin.md
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cplane/manager.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): check map-mutating helpers and bound advertised SIDs to what a plugin allocated
  docs/design/ja/cplane-plugin.md
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cplane/localsid.go
  pkg/cplane/ops.go
  pkg/cplane/scope_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): drop the advertise-a-given-SID example mode and close two lifecycle gaps
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): honour the deny-all-startable contract for an empty scope, and test the binding reconcile wiring
  pkg/cplane/manager_test.go
  pkg/cplane/scope.go
  pkg/server/vrf_bgp_test.go
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): state the semi-trusted plugin ELF model and the End.DT4 VRF limit honestly
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore(cplane): rebuild the example plugin wasm after removing the field-6 mode
  sdk/examples/cplane-custom-behavior/plugin.wasm
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(benchmark): adapt harness to renamed NIC port and irdma queue pinning
  benchmark/configs/vinbero-bench-stats.yml
  benchmark/configs/vinbero-bench.yml
  benchmark/pipelines/common.sh
  benchmark/pipelines/tune_dut.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(cplane): resolve a plugin-dispatched End.DT4/6/46 VRF from a host-owned grant map
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  src/core/xdp_map.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): scope a plugin-dispatched End.DT4/6/46 decap to a VRF
  api/vinbero/v1/cplane_plugin.pb.go
  cmd/vinberod/main.go
  pkg/bpf/maps.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/quota_test.go
  pkg/cplane/scope.go
  pkg/cplane/scope_test.go
  proto/vinbero/v1/cplane_plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(cplane): declare a decap VRF from the example plugin
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): make cplane-plugin-2site decap into a VRF, not the main table
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(cplane): describe the plugin decap VRF grant as implemented
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(cplane): guard VRF delete against decap grants and size the grant map
  pkg/bpf/bpf.go
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): withdraw decap grants on every delete path and VRF-delete race
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): make the decap-grant ifindex sweep ABA-safe
  pkg/bpf/maps.go
  pkg/cplane/localsid.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): surface cleanup-path errors in the decap-grant lifecycle
  pkg/bpf/maps.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/server/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): make stranded-entry and grant-delete-failure recoverable
  pkg/bpf/maps.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(benchmark): record effective frame size and harden the pipeline
  benchmark/pipelines/common.sh
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
  benchmark/pipelines/tune_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(cplane): address OCR review — rebind-strand grant deletion and coverage
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(benchmark): make run cleanup and DUT scripts fail-safe
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
  benchmark/pipelines/teardown_dut.sh
  benchmark/pipelines/tune_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(benchmark): drop PID-file kill, pure-CSV stats output, comment fixes
  benchmark/README.md
  benchmark/analysis/stats.py
  benchmark/configs/vinbero-bench-stats.yml
  benchmark/pipelines/teardown_dut.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(benchmark): validate inputs before side effects, onlink DT4 route
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(benchmark): validate driver args, isolate state file, early bin check
  benchmark/configs/vinbero-bench-stats.yml
  benchmark/configs/vinbero-bench.yml
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(benchmark): valid UDP datagrams, PEERS env validation, setup rollback
  benchmark/pipelines/setup_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(cplane): plugin dispatch の End.DT4/6/46 を VRF scoped に decap する (#139)
  api/vinbero/v1/cplane_plugin.pb.go
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/quota_test.go
  pkg/cplane/scope.go
  pkg/cplane/scope_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  proto/vinbero/v1/cplane_plugin.proto
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  src/core/xdp_map.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(benchmark): TRex-driven SRv6 dataplane load-test harness (#140)
  .gitignore
  benchmark/README.md
  benchmark/analysis/stats.py
  benchmark/configs/vinbero-bench-stats.yml
  benchmark/configs/vinbero-bench.yml
  benchmark/pipelines/common.sh
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
  benchmark/pipelines/teardown_dut.sh
  benchmark/pipelines/tune_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(cplane): close the decap-grant VRF-delete window with a shared leaf lease
  docs/design/ja/cplane-plugin.md
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/server/cplane_plugin.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): address Copilot review on the grant lease
  docs/design/ja/cplane-plugin.md
  pkg/cplane/localsid_test.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): harden the grant resolve against stale manager state
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/cplane/manager_test.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

style: gofmt cmd/vinberod/main.go
  cmd/vinberod/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): decap-grant の VRF 削除 TOCTOU を共有 leaf lease で閉じる (#142)
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/server/cplane_plugin.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): state the safety invariants and lifecycle an outside review asked for
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): correct three statements against the implementation
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): document the partial-failure states and bound two guarantees
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
