Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat(bgp): MupService CRUD to originate local BGP MUP routes (SAFI 85) (#59)
  api/vinbero/v1/mup.pb.go
  api/vinbero/v1/mup_grpc.pb.go
  api/vinbero/v1/vinberov1connect/mup.connect.go
  docs/loadmap.md
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_bgp.go
  pkg/cli/cmd_mup.go
  pkg/cli/cmd_srpolicy.go
  pkg/server/bgp_route_mup.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/nexthop.go
  pkg/server/server.go
  pkg/server/srpolicy.go
  proto/vinbero/v1/mup.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): unify advertise next-hop validation and add per-service origination caps
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/exporter.go
  pkg/config/config.go
  pkg/server/bgp_route.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/nexthop.go
  pkg/server/server.go
  pkg/server/srpolicy.go
  pkg/server/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): make origination caps atomic and tag next-hop errors with the config key
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/bgp.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/exporter.go
  pkg/server/mup.go
  pkg/server/srpolicy.go
  pkg/server/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): drive mup-2site origination through MupService
  examples/interop-clab/scenarios/mup-2site/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp): address OCR review on the advertise-hardening PR
  pkg/bgp/apply/srpolicy_test.go
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/config/config.go
  pkg/server/bgp_route.go
  pkg/server/mup.go
  pkg/server/srpolicy.go
  pkg/server/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): unify advertise next-hop validation + per-service origination caps (#60)
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/exporter.go
  pkg/config/config.go
  pkg/server/bgp_route.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/nexthop.go
  pkg/server/server.go
  pkg/server/srpolicy.go
  pkg/server/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): drive mup-2site origination through MupService (#61)
  examples/interop-clab/scenarios/mup-2site/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(examples): refresh stale READMEs across netns examples and interop-clab
  examples/README.md
  examples/end-dx2v/README.md
  examples/end-t/README.md
  examples/end-x/README.md
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/l3vpn-2site-auto/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site-auto/README.md
Due: check-executables-have-shebangs, mixed-line-ending

ci(examples): add 4 uncovered netns examples to the integration matrix
  .github/workflows/test.yaml
  examples/end-dx2v/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(examples): hoist test_ping_with_counter into common/test_utils.sh
  examples/common/test_utils.sh
  examples/end-dt2-p2mp/test.sh
  examples/end-dt2/test.sh
  examples/end-dt4/test.sh
  examples/end-dx2v/test.sh
  examples/end-dx4/test.sh
  examples/end-t/test.sh
  examples/end-x/test.sh
  examples/end/test.sh
  examples/headend-l2/test.sh
  examples/headend-v4/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): make test_ping_with_counter set -e safe and quote its argv
  examples/common/test_utils.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(examples): address Copilot review
  examples/README.md
  examples/end-t/README.md
  examples/end-x/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): refresh stale READMEs (netns + interop-clab) (#62)
  examples/README.md
  examples/end-dx2v/README.md
  examples/end-t/README.md
  examples/end-x/README.md
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/l3vpn-2site-auto/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site-auto/README.md
Due: check-executables-have-shebangs, mixed-line-ending

ci(examples): add 4 uncovered netns examples to the integration matrix (#63)
  .github/workflows/test.yaml
  examples/end-dx2v/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(examples): hoist test_ping_with_counter into common/test_utils.sh (#64)
  examples/common/test_utils.sh
  examples/end-dt2-p2mp/test.sh
  examples/end-dt2/test.sh
  examples/end-dt4/test.sh
  examples/end-dx2v/test.sh
  examples/end-dx4/test.sh
  examples/end-t/test.sh
  examples/end-x/test.sh
  examples/end/test.sh
  examples/headend-l2/test.sh
  examples/headend-v4/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): make gtp4-encap actually transform GTP-U->SRv6, add it to CI
  .github/workflows/test.yaml
  examples/gtp4-encap/send_gtpu.py
  examples/gtp4-encap/setup.sh
  examples/gtp4-encap/test.sh
  examples/gtp6-encap/send_gtpu_v6.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): make gtp4-encap actually transform GTP-U->SRv6, add it to CI (#65)
  .github/workflows/test.yaml
  examples/gtp4-encap/send_gtpu.py
  examples/gtp4-encap/setup.sh
  examples/gtp4-encap/test.sh
  examples/gtp6-encap/send_gtpu_v6.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): make gtp6-encap actually exercise End.M.GTP6.D + verify it
  examples/gtp6-encap/send_gtpu_v6.py
  examples/gtp6-encap/setup.sh
  examples/gtp6-encap/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): address Copilot review on gtp6-encap
  examples/gtp6-encap/send_gtpu_v6.py
  examples/gtp6-encap/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): match gtp6-encap scapy guard to the sender's imports
  examples/gtp6-encap/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(headend): plumb args_offset through Headendv6 so H.M.GTP6.D is usable; fix gtp6-encap
  api/vinbero/v1/vinbero.pb.go
  examples/gtp6-encap/send_gtpu_v6.py
  examples/gtp6-encap/setup.sh
  examples/gtp6-encap/test.sh
  pkg/cli/cmd_headend.go
  pkg/server/headendv6.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(examples): match gtp6-encap scapy guard imports exactly to the sender
  examples/gtp6-encap/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

test(examples): give gtp6-drop-in a real End.M.GTP6.D.Di data-plane check
  examples/gtp6-drop-in/send_srv6_gtpu.py
  examples/gtp6-drop-in/setup.sh
  examples/gtp6-drop-in/test.sh
  examples/gtp6-drop-in/vinbero_router1.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(gtp6): tighten Headendv6 args_offset bound to 0-11 and let tcpdump self-terminate
  examples/gtp6-encap/test.sh
  pkg/server/headendv6.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(gtp6): read the Di slot counter via vbctl stats slot show
  examples/gtp6-drop-in/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(gtp6-drop-in): correct Di behavior + tighten the data-plane assertion
  examples/gtp6-drop-in/README.md
  examples/gtp6-drop-in/setup.sh
  examples/gtp6-drop-in/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(gtp6-encap): update README to the H.M.GTP6.D headend design
  examples/README.md
  examples/gtp6-encap/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(gtp6-encap): note that the capture count ignores tcpdump's stderr banner
  examples/gtp6-encap/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(gtp6-drop-in): fix CLI name in comment (vinbero, not vbctl)
  examples/gtp6-drop-in/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(headend): plumb args_offset through Headendv6 so H.M.GTP6.D is usable; fix gtp6-encap (#67)
  api/vinbero/v1/vinbero.pb.go
  examples/README.md
  examples/gtp6-encap/README.md
  examples/gtp6-encap/send_gtpu_v6.py
  examples/gtp6-encap/setup.sh
  examples/gtp6-encap/test.sh
  pkg/cli/cmd_headend.go
  pkg/server/headendv6.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
