Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

fix(release): pre-extraction path guard and consistent SDK wording
  scripts/install_vinbero.sh
  scripts/sdk_archive_verify.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(release): reject non-regular SDK entries and normalize rm -rf guard
  scripts/sdk_archive_verify.sh
  scripts/stage_sdk.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(release): frame SDK verify guards as a producer/installer contract
  scripts/sdk_archive_verify.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(release): unify SDK staging and fix include/core packaging (#80)
  .goreleaser.yaml
  Makefile
  README.md
  scripts/install_vinbero.sh
  scripts/sdk_archive_verify.sh
  scripts/stage_sdk.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp/mup): pin gobgp fork tag carrying draft-01 T1ST framing + Prefix-SID behavior
  examples/interop-clab/Makefile
  examples/interop-clab/images/vinbero/Dockerfile
  go.mod
  go.sum
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/bgp/gobgp/advertise_mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(endpoint): no-SRH dual-path End.M.GTP4.E / End.M.GTP6.E + macro
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/xdp_tailcall_macros.h
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(interop-clab/mup-2site): pass --route-targets so RT-scoped resolve works
  examples/interop-clab/scenarios/mup-2site/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp/mup): set ENDM_GTP*E behavior on T1ST encoder fallback SID
  pkg/bgp/gobgp/advertise_mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(endpoint): re-add ETH_HLEN after outer-IPv6 strip on no-SRH GTP*.E paths
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp/mup): pin gobgp fork tag carrying draft-01 T1ST framing + Prefix-SID behavior (#82)
  examples/interop-clab/Makefile
  examples/interop-clab/images/vinbero/Dockerfile
  examples/interop-clab/scenarios/mup-2site/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
  go.mod
  go.sum
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/bgp/gobgp/advertise_mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(endpoint): no-SRH dual-path End.M.GTP4.E / End.M.GTP6.E + macro (#83)
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/xdp_tailcall_macros.h
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(proto/vrf_bgp): add families, route-targets, direction, and 7 new RPCs
  api/vinbero/v1/vinberov1connect/vrf_bgp.connect.go
  api/vinbero/v1/vrf_bgp.pb.go
  api/vinbero/v1/vrf_bgp_grpc.pb.go
  pkg/server/vrf_bgp.go
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(vrf-bgp): unified family-scoped binding with per-family RT/RD policy
  README.md
  cmd/vinberod/main.go
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/vinbero.yml
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/vinbero.yml
  examples/interop-clab/scenarios/l3vpn-2site-auto/vinbero/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/vinbero/vinbero.yml
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/exporter.go
  pkg/bgp/export/exporter_test.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/cli/cmd_vrf_bgp_test.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_mup.go
  pkg/server/bgp_route_test.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/server.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(vrf-bgp): address Copilot review on UpdateBinding/Batch/mutateOne/ListRT
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf-bgp): dedupe RTs at wire boundary and unwrap batch error code
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf-bgp): fail fast on ParseDirection drift in configFamilies
  cmd/vinberod/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf-bgp): gate EnableForBinding on EVPN export RT presence
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(config): reject mixing legacy import_rts/export_rts with families
  pkg/config/config.go
  pkg/config/config_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf-bgp): tighten ValidateRouteTarget, MatchImport, Direction.String
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(vrf-bgp): pin RPC nil-entry handling against panic
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): accept ipv4_unicast as a peer family (AFI 1 / SAFI 1)
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/gobgp/session.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/mup): derive the RFC 9252 SID Structure sub-sub-TLV from the owning locator
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_mup.go
  pkg/bgp/gobgp/advertise_mup_test.go
  pkg/locator/manager.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_mup.go
  pkg/server/bgp_route_test.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/server.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/mup): per-VRF RFC 9433 6.6 GTP4 downlink source-embed prefix
  api/vinbero/v1/vrf_bgp.pb.go
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/server/server.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/mup.proto
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(locator): resolve FindByContaining by longest prefix match
  pkg/locator/manager.go
  pkg/locator/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/mup): per-VRF GTP4 source-embed prefix, locator-derived SID Structure, ipv4_unicast family (#86)
  api/vinbero/v1/vrf_bgp.pb.go
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/gobgp/advertise_mup.go
  pkg/bgp/gobgp/advertise_mup_test.go
  pkg/bgp/gobgp/session.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_mup.go
  pkg/server/bgp_route_test.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  pkg/server/server.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/mup.proto
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(interop-clab/mup-2site): per-advertiser RDs, import-RT filter, RFC 9433 §6.6 source embed
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/vinbero.yml
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(srv6-bgp): catch the MUP section up to RT-scoped resolution + per-VRF source embed
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(interop-clab/mup-2site): tighten test asserts per review
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(interop-clab/mup-2site): scope the embed assert to the UE row, variable-ize the gNB IP
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(srv6-bgp): distinguish the §6.6 extracting receiver from Vinbero's End.M.GTP4.E
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(interop-clab/mup-2site): tcpdump -nn so ports always print numerically
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(interop-clab/mup-2site): create the PE's MUP binding via vbctl instead of YAML
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending
