Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

fix: use setsid for P2MP test to prevent signal propagation
  examples/end-dt2-p2mp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: prevent signal propagation to vinberod in P2MP test
  examples/end-dt2-p2mp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: use 1s aging timeout in TestFdbAging for CI compatibility
  pkg/bpf/maps_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: stagger P2MP PE startup to avoid BPF loading race on CI
  examples/end-dt2-p2mp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: address Copilot review round 2
  pkg/bpf/maps.go
  pkg/server/sid_function.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: rename plugin example to plugin-counter and add READMEs
  examples/README.md
  examples/plugin-counter/README.md
  examples/plugin-counter/plugin_counter.c
  examples/plugin-counter/setup.sh
  examples/plugin-counter/teardown.sh
  examples/plugin-counter/test.sh
  examples/plugin-counter/vinbero_config.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor: simplify plugin tests and improve registration validation
  examples/common/test_utils.sh
  pkg/bpf/maps.go
  pkg/bpf/plugin_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add plugin CLI and packet counter example
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  examples/plugin/plugin_counter.c
  examples/plugin/setup.sh
  examples/plugin/teardown.sh
  examples/plugin/test.sh
  examples/plugin/vinbero_config.yaml
  pkg/bpf/maps.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin.go
  pkg/server/server.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: pluggable XDP data plane with BPF tail call dispatch
  examples/common/test_utils.sh
  examples/end-dt2-p2mp/test.sh
  examples/end-dt2/test.sh
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx4/test.sh
  examples/end-dx6/test.sh
  examples/end-t/test.sh
  examples/end-x/test.sh
  examples/end/test.sh
  examples/gtp4-encap/test.sh
  examples/gtp6-drop-in/test.sh
  examples/gtp6-encap/test.sh
  examples/headend-l2/test.sh
  examples/headend-v4/test.sh
  examples/headend-v6/test.sh
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_test.go
  src/core/srv6_gtp.h
  src/core/xdp_map.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
  src/headend/srv6_gtp_headend.h
  src/headend/srv6_headend_utils.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: add explicit -memory 2G to vimto in CI
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix: reduce BPF verifier log buffer from 1GB to 64MB
  pkg/bpf/bpf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: make tailcall_epilogue noinline for BTF-based plugin validation
  examples/plugin-counter/plugin_counter.c
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/server/plugin.go
  src/core/xdp_tailcall_helpers.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: address Copilot review feedback
  api/vinbero/v1/plugin.pb.go
  examples/plugin-counter/README.md
  examples/plugin-counter/test.sh
  pkg/bpf/plugin_test.go
  pkg/cli/cmd_plugin.go
  pkg/cli/resolve.go
  pkg/server/plugin.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: validate IPv4 IHL minimum length in H.M.GTP4.D
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor: split and simplify BPF data plane code
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/srv6_fib.h
  src/core/xdp_tailcall_macros.h
  src/dispatch/l2_headend.c
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_end_b6.h
  src/endpoint/srv6_gtp_endpoint.h
  src/endpoint/tailcall_endpoint.c
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_l2.h
  src/headend/srv6_encaps_red.h
  src/headend/srv6_insert.h
  src/headend/tailcall_headend.c
  src/l2vpn/tc_bum.h
  src/l2vpn/tc_prog.c
  src/xdp_main.c
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore: remove docs/dev/ebpf_map_reference.md from tracking
  docs/dev/ebpf_map_reference.md
Due: check-executables-have-shebangs, mixed-line-ending

fix: use noinline subprogram for H.Encaps to fix kernel 6.1 verifier
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/headend/srv6_encaps.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor: remove load map
  .gitignore
  .release-please-manifest.json
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: modify load map (#17)
  .gitignore
  .release-please-manifest.json
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

feat: implement End.DX2V VLAN cross-connect (RFC 8986 Sec.4.10)
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  docs/design/ja/api_sequence.md
  docs/loadmap.md
  examples/end-dx2v/setup.sh
  examples/end-dx2v/teardown.sh
  examples/end-dx2v/test.sh
  examples/end-dx2v/vinbero_router1.yaml
  examples/end-dx2v/vinbero_router3.yaml
  lefthook.yml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_sid.go
  pkg/cli/cmd_vlan_table.go
  pkg/config/config.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/vlan_table.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/srv6.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_dx2v.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: add range validation and packet verification for End.DX2V
  pkg/bpf/xdp_test.go
  pkg/server/sid_function.go
  pkg/server/vlan_table.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: implement End.DX2V VLAN cross-connect (RFC 8986 Sec.4.10) (#18)
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  docs/design/ja/api_sequence.md
  docs/loadmap.md
  examples/end-dx2v/setup.sh
  examples/end-dx2v/teardown.sh
  examples/end-dx2v/test.sh
  examples/end-dx2v/vinbero_router1.yaml
  examples/end-dx2v/vinbero_router3.yaml
  lefthook.yml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_sid.go
  pkg/cli/cmd_vlan_table.go
  pkg/config/config.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/vlan_table.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/srv6.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_dx2v.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: plugin SDK with static validator, VINBERO_PLUGIN macro, samples
  .github/copilot-instructions.md
  Makefile
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  examples/README.md
  examples/plugin-counter/plugin_counter.c
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/vinbero/vinbero.go
  sdk/README.md
  sdk/c/Makefile.plugin
  sdk/c/include/vinbero/helpers.h
  sdk/c/include/vinbero/maps.h
  sdk/c/include/vinbero/plugin.h
  sdk/c/include/vinbero/types.h
  sdk/examples/plugin-counter/Makefile
  sdk/examples/plugin-counter/README.md
  sdk/examples/plugin-counter/plugin.c
  sdk/examples/plugin-counter/setup.sh
  sdk/examples/plugin-counter/teardown.sh
  sdk/examples/plugin-counter/test.sh
  sdk/examples/plugin-counter/vinbero_config.yaml
  sdk/examples/simple-acl/Makefile
  sdk/examples/simple-acl/README.md
  sdk/examples/simple-acl/plugin.c
  src/core/xdp_map.h
  src/core/xdp_tailcall_helpers.h
  src/core/xdpcap.h
  src/xdp_main.c
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(plugin-counter): enable stats and assert plugin invocation in E2E
  sdk/examples/plugin-counter/setup.sh
  sdk/examples/plugin-counter/test.sh
  sdk/examples/plugin-counter/vinbero_config.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(plugin-counter): assert plugin invocation via plugin_counter_map
  sdk/examples/plugin-counter/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore(plugin-counter): drop stats_map output from E2E test
  sdk/examples/plugin-counter/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: rewrite read-only constants in plugin BPF collection
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/server.go
  pkg/vinbero/vinbero.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(plugin-sdk): clarify stats_map vs plugin-owned counters
  docs/design/ja/plugin-sdk.md
Due: check-executables-have-shebangs, mixed-line-ending

chore(plugin-counter): show stats_map alongside plugin_counter_map
  sdk/examples/plugin-counter/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat: plugin SDK with static validator, VINBERO_PLUGIN macro, samples (#19)
  .github/copilot-instructions.md
  Makefile
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  examples/README.md
  examples/plugin-counter/plugin_counter.c
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/server.go
  pkg/vinbero/vinbero.go
  sdk/README.md
  sdk/c/Makefile.plugin
  sdk/c/include/vinbero/helpers.h
  sdk/c/include/vinbero/maps.h
  sdk/c/include/vinbero/plugin.h
  sdk/c/include/vinbero/types.h
  sdk/examples/plugin-counter/Makefile
  sdk/examples/plugin-counter/README.md
  sdk/examples/plugin-counter/plugin.c
  sdk/examples/plugin-counter/setup.sh
  sdk/examples/plugin-counter/teardown.sh
  sdk/examples/plugin-counter/test.sh
  sdk/examples/plugin-counter/vinbero_config.yaml
  sdk/examples/simple-acl/Makefile
  sdk/examples/simple-acl/README.md
  sdk/examples/simple-acl/plugin.c
  src/core/xdp_map.h
  src/core/xdp_tailcall_helpers.h
  src/core/xdpcap.h
  src/xdp_main.c
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat: per-slot invocation counter for tail-call targets
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  docs/design/ja/api_sequence.md
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_test.go
  pkg/bpf/slotname.go
  pkg/bpf/slotname_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_stats.go
  pkg/server/plugin.go
  pkg/server/server.go
  pkg/server/stats.go
  proto/vinbero/v1/vinbero.proto
  sdk/README.md
  sdk/examples/plugin-counter/README.md
  sdk/examples/plugin-counter/test.sh
  src/core/xdp_stats.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/srv6_endpoint_dx2v.h
  src/endpoint/srv6_endpoint_l2.h
  src/endpoint/tailcall_endpoint.c
  src/xdp_main.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
