Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

fix(bpf): resolve the superseded aux without relying on ownership
  pkg/bpf/aux_lifecycle_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): make locator create and uA claim one transaction
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): serialize the SID entry and aux updates
  pkg/bpf/aux_lifecycle_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

perf(bpf): keep the superseded-aux lookup off the scan path
  pkg/bpf/aux_lifecycle_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): diagram the two-node custom-behavior flow and the replay pipeline
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): 設計 doc に安全性の不変条件と lifecycle の境界を明文化する (#143)
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): stage-qualify the store-removal edges and the persist-failure claim split
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(bpf): derive the uN and uA shift widths from the RFC rule
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(usid): correct the nflen semantics and the NO_NEIGH hop limit
  docs/design/ja/usid.md
  examples/end-ua/README.ja.md
  examples/end-ua/README.md
  examples/end-ua/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(usid): add the uN/uA design document
  docs/design/ja/forwarding_model.md
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/end-ua/README.md
  examples/end-un/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): make the uN/uA example READMEs English-first
  examples/end-ua/README.ja.md
  examples/end-ua/README.md
  examples/end-un/README.ja.md
  examples/end-un/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): show why uA consumes 32 bits and uN 16
  docs/design/ja/usid.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(locator): drop bindings when a locator is force-deleted
  pkg/locator/manager.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): fix the reversed uA NO_NEIGH note in the Japanese README
  examples/end-ua/README.ja.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): note the no-SRH exception to the re-dispatch rule
  docs/design/ja/usid.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): state the uN deployment constraints and drop the NDP warm-up
  docs/loadmap.md
  examples/end-un/README.md
  examples/end-un/setup.sh
  examples/end-un/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(examples): configure the uN/uA SIDs as local addresses
  examples/end-ua/README.ja.md
  examples/end-ua/setup.sh
  examples/end-un/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(examples): add end-ua netns example with the Linux next-csid oracle
  .github/workflows/test.yaml
  examples/README.md
  examples/end-ua/README.md
  examples/end-ua/setup.sh
  examples/end-ua/teardown.sh
  examples/end-ua/test.sh
  examples/end-ua/vinbero_router2.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): make oracle route removal fatal in end-un test
  examples/end-un/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(examples): add end-un netns example with the Linux next-csid oracle
  .github/workflows/test.yaml
  docs/loadmap.md
  examples/end-un/README.md
  examples/end-un/setup.sh
  examples/end-un/teardown.sh
  examples/end-un/test.sh
  examples/end-un/vinbero_router2.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(bpf): draw the uN and uA shift on the destination address
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(usid): add the data-plane and control-plane lookup diagrams
  docs/design/ja/usid.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): show that the tail call targets the entry's own slot
  docs/design/ja/usid.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): rewrite the Japanese pages to the house style
  docs/design/ja/usid.md
  examples/end-ua/README.ja.md
  examples/end-un/README.ja.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(usid): correct the points a codex review found in the diagrams and prose
  docs/design/ja/usid.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bpf): spend a hop limit when an endpoint advances the segment list
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/endpoint_hop_limit_test.go
  src/endpoint/srv6_endpoint_core.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): keep the endpoint hop to one, and cover End.AN
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/endpoint_hop_limit_test.go
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(examples): assert the hop limit across the End node
  examples/end/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(examples): make the netns example READMEs English-first (#147)
  examples/end-ad/README.ja.md
  examples/end-ad/README.md
  examples/end-am/README.ja.md
  examples/end-am/README.md
  examples/end-an/README.ja.md
  examples/end-an/README.md
  examples/end-as/README.ja.md
  examples/end-as/README.md
  examples/end-dt2-p2mp/README.ja.md
  examples/end-dt2/README.ja.md
  examples/end-dt2m-multihomed/README.ja.md
  examples/end-dt2m-multihomed/README.md
  examples/end-dt4/README.ja.md
  examples/end-dt4/README.md
  examples/end-dt6/README.ja.md
  examples/end-dt6/README.md
  examples/end-dx2v/README.ja.md
  examples/end-dx2v/README.md
  examples/end-dx4/README.ja.md
  examples/end-dx4/README.md
  examples/end-dx6/README.ja.md
  examples/end-dx6/README.md
  examples/end-t/README.ja.md
  examples/end-t/README.md
  examples/end-x/README.ja.md
  examples/end-x/README.md
  examples/end/README.ja.md
  examples/end/README.md
  examples/gtp4-encap/README.ja.md
  examples/gtp4-encap/README.md
  examples/gtp6-drop-in/README.ja.md
  examples/gtp6-drop-in/README.md
  examples/gtp6-encap/README.ja.md
  examples/gtp6-encap/README.md
  examples/headend-l2/README.ja.md
  examples/headend-l2/README.md
  examples/headend-v4/README.ja.md
  examples/headend-v4/README.md
  examples/headend-v6/README.ja.md
  examples/headend-v6/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bpf): spend a hop limit when an endpoint advances the segment list (#149)
  examples/end/test.sh
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/endpoint_hop_limit_test.go
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): keep the builtin aux lifecycle tied to the exact SID entry (#148)
  pkg/bpf/aux_lifecycle_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

perf(bpf): load the test collection once per constant set
  pkg/bpf/shared_collection_test.go
  pkg/bpf/xdp_test_helpers_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): decapsulate USD-flavored uN terminals on the no-SRH path
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): add uT (End.T with NEXT-C-SID, RFC 9800 Sec.4.1.3)
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_usid_test.go
  pkg/cli/cmd_sid.go
  pkg/server/headendl2.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/srv6.h
  src/core/xdp_prog.h
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(examples): uT / uDT4 / uN+USD end-to-end scenarios and uSID docs
  .github/workflows/test.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-udt4/README.ja.md
  examples/end-udt4/README.md
  examples/end-udt4/setup.sh
  examples/end-udt4/teardown.sh
  examples/end-udt4/test.sh
  examples/end-udt4/vinbero_router3.yaml
  examples/end-un-usd/README.ja.md
  examples/end-un-usd/README.md
  examples/end-un-usd/setup.sh
  examples/end-un-usd/teardown.sh
  examples/end-un-usd/test.sh
  examples/end-un-usd/vinbero_router3.yaml
  examples/end-ut/README.ja.md
  examples/end-ut/README.md
  examples/end-ut/setup.sh
  examples/end-ut/teardown.sh
  examples/end-ut/test.sh
  examples/end-ut/vinbero_router2.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(server): control plane for End and End.X with REPLACE-CSID
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  pkg/bpf/xdp_replace_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint
