Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

refactor: apply make lint
  cmd/vinbero/main.go
  go.mod
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/server/server.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor: rename headend
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  docs/loadmap.md
  examples/README.md
  examples/end/vinbero_router2.yaml
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/config/config.go
  pkg/server/headendv4.go
  pkg/server/headendv6.go
  pkg/server/server.go
  pkg/server/transitv4.go
  pkg/server/transitv6.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: support headend prog
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/config/config.go
  pkg/vinbero/vinbero.go
  src/srv6.h
  src/srv6_encaps.h
  src/srv6_endpoint.h
  src/srv6_headend_utils.h
  src/xdp_map.h
  src/xdp_prog.c
  src/xdp_prog.h
  src/xdp_stats.h
  src/xdp_vlan.h
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add headendv46
  .github/workflows/test.yaml
  examples/README.md
  examples/headend-v4/README.md
  examples/headend-v4/setup.sh
  examples/headend-v4/teardown.sh
  examples/headend-v4/test.sh
  examples/headend-v4/vinbero_router1.yaml
  examples/headend-v6/README.md
  examples/headend-v6/setup.sh
  examples/headend-v6/teardown.sh
  examples/headend-v6/test.sh
  examples/headend-v6/vinbero_router1.yaml
  pkg/bpf/xdp_test.go
  src/srv6_endpoint.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

refactor: modify loop type
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/srv6_encaps.h
  src/srv6_endpoint.h
  src/srv6_fib.h
  src/srv6_headend.h
  src/srv6_headend_utils.h
  src/xdp_prog.c
  src/xdp_utils.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat: support end.dx4,dx6
  .github/workflows/test.yaml
  examples/end-dx4/README.md
  examples/end-dx4/setup.sh
  examples/end-dx4/teardown.sh
  examples/end-dx4/test.sh
  examples/end-dx4/vinbero_router3.yaml
  examples/end-dx6/README.md
  examples/end-dx6/setup.sh
  examples/end-dx6/teardown.sh
  examples/end-dx6/test.sh
  examples/end-dx6/vinbero_router3.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  src/srv6_decaps.h
  src/srv6_endpoint.h
  src/srv6_fib.h
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

docs: update readme
  README.md
  docs/loadmap.md
  vinbero.yml
Due: check-executables-have-shebangs, mixed-line-ending

docs: update loadmap
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

feat: support H.Encaps.L2 and End.DX2 for L2VPN
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinbero/main.go
  docs/loadmap.md
  examples/headend-l2/README.md
  examples/headend-l2/setup.sh
  examples/headend-l2/teardown.sh
  examples/headend-l2/test.sh
  examples/headend-l2/vinbero_router1.yaml
  examples/headend-l2/vinbero_router3.yaml
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/server/headendl2.go
  pkg/server/server.go
  proto/vinbero/v1/vinbero.proto
  release-please-config.json
  src/srv6_endpoint.h
  src/srv6_headend.h
  src/xdp_map.h
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: support End.DT4/DT6/DT46, End.DT2 with Bridge Domain, FDB sync, and port VLAN
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinbero/main.go
  docs/loadmap.md
  go.mod
  go.sum
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/config/config.go
  pkg/netlinkwatch/fdb_watcher.go
  pkg/server/dmac.go
  pkg/server/headendl2.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/vinbero/vinbero.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_encaps.h
  src/srv6_endpoint.h
  src/srv6_fib.h
  src/xdp_map.h
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test: add integration tests and examples for End.DT2/DT4/DT6
  .github/workflows/test.yaml
  examples/end-dt2/setup.sh
  examples/end-dt2/teardown.sh
  examples/end-dt2/test.sh
  examples/end-dt2/vinbero_router1.yaml
  examples/end-dt2/vinbero_router3.yaml
  examples/end-dt4/setup.sh
  examples/end-dt4/teardown.sh
  examples/end-dt4/test.sh
  examples/end-dt4/vinbero_router3.yaml
  examples/end-dt6/setup.sh
  examples/end-dt6/teardown.sh
  examples/end-dt6/test.sh
  examples/end-dt6/vinbero_router3.yaml
  examples/headend-l2/test.sh
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/netlinkwatch/fdb_watcher_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix: fix End.DT4/DT6 CI failures with VRF routing and rp_filter
  .github/workflows/test.yaml
  examples/end-dt4/setup.sh
  examples/end-dt6/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat: support BUM traffic flooding via TC clone-to-self with VLAN materialization
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinbero/main.go
  docs/dev/tc_bum_forwarding.md
  examples/end-dt2/setup.sh
  examples/end-dt2/test.sh
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/tc.go
  pkg/bpf/tc_test.go
  pkg/bpf/xdp_test.go
  pkg/server/bd_peer.go
  pkg/server/dmac.go
  pkg/server/headendl2.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/vinbero/vinbero.go
  proto/vinbero/v1/vinbero.proto
  src/bum_meta.h
  src/srv6_endpoint.h
  src/tc_bum.h
  src/xdp_map.h
  src/xdp_prog.c
  src/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: restore direct H.Encaps.L2 for bd_id=0 (no Bridge Domain)
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: rewrite BUM forwarding design doc to match final implementation
  docs/dev/tc_bum_forwarding.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: remove tc_bum_forwarding.md from tracking
  docs/dev/tc_bum_forwarding.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: add l2l3vpn design
  docs/design/ja/bridge_domain.md
  docs/design/ja/fdb_vrf.md
Due: check-executables-have-shebangs, mixed-line-ending

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
