Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

test(examples): give gtp6-drop-in a real End.M.GTP6.D.Di data-plane check (#68)
  examples/gtp6-drop-in/README.md
  examples/gtp6-drop-in/send_srv6_gtpu.py
  examples/gtp6-drop-in/setup.sh
  examples/gtp6-drop-in/test.sh
  examples/gtp6-drop-in/vinbero_router1.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(examples): correct false-green FDB test, daemon leaks, and doc drift
  examples/README.md
  examples/common/test_utils.sh
  examples/end-dt2/test.sh
  examples/end-dt2m-multihomed/README.md
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx4/test.sh
  examples/end-dx6/test.sh
  examples/end-t/teardown.sh
  examples/end-x/setup.sh
  examples/end-x/teardown.sh
  examples/end-x/test.sh
  examples/end/README.md
  examples/end/setup.sh
  examples/end/teardown.sh
  examples/end/test.sh
  examples/gtp4-encap/README.md
  examples/gtp4-encap/test.sh
  examples/gtp6-drop-in/README.md
  examples/gtp6-encap/README.md
  examples/headend-v4/test.sh
  examples/headend-v6/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): guard test cleanup against PID reuse
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx4/test.sh
  examples/end-dx6/test.sh
  examples/end-t/test.sh
  examples/end-x/test.sh
  examples/end/test.sh
  examples/gtp4-encap/test.sh
  examples/headend-v4/test.sh
  examples/headend-v6/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): extend PID-reuse guard to dual-PID and PIDS-loop cleanups
  examples/end-dt2/test.sh
  examples/end-dt2m-multihomed/smoke_api.sh
  examples/end-dt2m-multihomed/test.sh
  examples/end-dx2v/test.sh
  examples/gtp6-encap/test.sh
  examples/headend-l2/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(examples): correct false-green FDB test, daemon leaks, and doc drift (#69)
  examples/README.md
  examples/common/test_utils.sh
  examples/end-dt2/test.sh
  examples/end-dt2m-multihomed/README.md
  examples/end-dt2m-multihomed/smoke_api.sh
  examples/end-dt2m-multihomed/test.sh
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx2v/test.sh
  examples/end-dx4/test.sh
  examples/end-dx6/test.sh
  examples/end-t/teardown.sh
  examples/end-t/test.sh
  examples/end-x/setup.sh
  examples/end-x/teardown.sh
  examples/end-x/test.sh
  examples/end/README.md
  examples/end/setup.sh
  examples/end/teardown.sh
  examples/end/test.sh
  examples/gtp4-encap/README.md
  examples/gtp4-encap/test.sh
  examples/gtp6-drop-in/README.md
  examples/gtp6-encap/README.md
  examples/gtp6-encap/test.sh
  examples/headend-l2/test.sh
  examples/headend-v4/test.sh
  examples/headend-v6/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(scripts): add one-liner installer for prebuilt binaries
  README.md
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(srv6-bgp): quote Mermaid edge labels containing parens and slashes
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(scripts): address Copilot review on the installer
  README.md
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(scripts): address Copilot re-review on the installer
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(scripts): add OS guard and tighten write-permission check
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(readme): clarify sha256sum is optional for the installer
  README.md
Due: none

fix(scripts): harden SDK extraction and dependency/permission checks
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(scripts): make asset lookup pipefail-safe and reject non-regular SDK entries
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(scripts): explicit checksum-fail error, awk guard, portable tar, repo casing
  README.md
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(scripts): correct first() comment wording in installer
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(srv6-bgp): quote Mermaid edge labels containing parens and slashes (#71)
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(scripts): add one-liner installer for prebuilt binaries (#70)
  README.md
  scripts/install_vinbero.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): pin goreleaser to v2.13.0 for Go 1.25 compatibility
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): always install pinned goreleaser version
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): pin goreleaser to v2.13.0 for Go 1.25 compatibility (#73)
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(release): ship SDK tarball without binaries and verify goreleaser install
  .goreleaser.yaml
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): use first GOPATH element for goreleaser verification
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): expand leading ~ in goreleaser install path
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(build): warn when PATH goreleaser shadows the pinned one
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(release): ship SDK tarball without binaries and verify goreleaser install (#75)
  .goreleaser.yaml
  scripts/install_build_tools.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(cli): stamp vinbero CLI version from build ldflags
  cmd/vinbero/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cli): stamp vinbero CLI version from build ldflags (#77)
  cmd/vinbero/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(readme): bump pinned install example to v0.0.8
  README.md
Due: none

fix(release): unify SDK staging into one script, fix include/core packaging
  .goreleaser.yaml
  Makefile
  README.md
  scripts/sdk_archive_verify.sh
  scripts/stage_sdk.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(release): guard SDK staging rm -rf and assert tarball top-level
  scripts/sdk_archive_verify.sh
  scripts/stage_sdk.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(readme): bump pinned install example to v0.0.8 (#79)
  README.md
Due: none
