Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

fix(evpn): keep ledgered state authoritative on every edge
  pkg/bgp/apply/evpn_alias.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/server/bd_peer.go
  src/endpoint/srv6_endpoint_l2.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(evpn): close the aliasing sweep and allocation edge cases
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

ci: raise the unit-test per-package timeout to 35m
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(evpn): RT1 aliasing で multi-homed segment を ECMP group に集約する (#127)
  .github/workflows/test.yaml
  docs/design/ja/ecmp.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/evpn_alias_test.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/bgp.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/owner.go
  pkg/bpf/xdp_l2_alias_test.go
  pkg/server/bd_peer.go
  src/core/srv6_ecmp.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/l2_headend.c
  src/endpoint/srv6_endpoint_l2.h
  src/headend/srv6_encaps_l2.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(prober): probe ECMP paths over SRv6 for fast reroute
  api/vinbero/v1/prober.pb.go
  api/vinbero/v1/prober_grpc.pb.go
  api/vinbero/v1/vinberov1connect/prober.connect.go
  cmd/vinberod/main.go
  docs/design/ja/configuration.md
  docs/design/ja/ecmp.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/probe_test.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/apply/vpngroup_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_prober.go
  pkg/config/config.go
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
  pkg/server/prober.go
  pkg/server/prober_test.go
  pkg/server/server.go
  proto/vinbero/v1/prober.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(prober): harden the probe loop against its failure modes
  cmd/vinberod/main.go
  docs/design/ja/ecmp.md
  pkg/bgp/apply/vpngroup.go
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(prober): verify the source, authenticate replies, survive stalls
  cmd/vinberod/main.go
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(prober): close the round-two review's edge cases
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

style(prober): keep the vinberod imports sorted
  cmd/vinberod/main.go
  pkg/prober/prober.go
  pkg/prober/wire.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(prober): drop to fail-open the moment a group write goes wrong
  docs/design/ja/ecmp.md
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/vpngroup.go
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(prober): SRv6 self-probe で ECMP path の生死を検知し fast reroute する (#128)
  api/vinbero/v1/prober.pb.go
  api/vinbero/v1/prober_grpc.pb.go
  api/vinbero/v1/vinberov1connect/prober.connect.go
  cmd/vinberod/main.go
  docs/design/ja/configuration.md
  docs/design/ja/ecmp.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/probe_test.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/apply/vpngroup_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_prober.go
  pkg/config/config.go
  pkg/prober/prober.go
  pkg/prober/prober_test.go
  pkg/prober/wire.go
  pkg/server/prober.go
  pkg/server/prober_test.go
  pkg/server/server.go
  proto/vinbero/v1/prober.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(interop): hold the ecmp-2site test to its own claims
  .github/workflows/interop-clab.yaml
  examples/interop-clab/scenarios/ecmp-2site/README.ja.md
  examples/interop-clab/scenarios/ecmp-2site/README.md
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-a.conf
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-b.conf
  examples/interop-clab/scenarios/ecmp-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(interop): describe the ecmp-2site failure injection accurately
  examples/interop-clab/scenarios/ecmp-2site/core/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(interop): ecmp-2site scenario exercises path groups end to end
  .github/workflows/interop-clab.yaml
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/ecmp-2site/README.ja.md
  examples/interop-clab/scenarios/ecmp-2site/README.md
  examples/interop-clab/scenarios/ecmp-2site/clab.yml
  examples/interop-clab/scenarios/ecmp-2site/core/start.sh
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-a.conf
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-b.conf
  examples/interop-clab/scenarios/ecmp-2site/frr/start.sh
  examples/interop-clab/scenarios/ecmp-2site/lan/start.sh
  examples/interop-clab/scenarios/ecmp-2site/test.sh
  examples/interop-clab/scenarios/ecmp-2site/vinbero/start.sh
  examples/interop-clab/scenarios/ecmp-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(interop): ecmp-2site シナリオで path group と prober を E2E 検証する (#129)
  .github/workflows/interop-clab.yaml
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/ecmp-2site/README.ja.md
  examples/interop-clab/scenarios/ecmp-2site/README.md
  examples/interop-clab/scenarios/ecmp-2site/clab.yml
  examples/interop-clab/scenarios/ecmp-2site/core/start.sh
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-a.conf
  examples/interop-clab/scenarios/ecmp-2site/frr/frr-b.conf
  examples/interop-clab/scenarios/ecmp-2site/frr/start.sh
  examples/interop-clab/scenarios/ecmp-2site/lan/start.sh
  examples/interop-clab/scenarios/ecmp-2site/test.sh
  examples/interop-clab/scenarios/ecmp-2site/vinbero/start.sh
  examples/interop-clab/scenarios/ecmp-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(evpn): RT1 Ethernet A-D を advertise し aliasing を interop 検証する
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  docs/design/ja/ecmp.md
  docs/design/ja/srv6_bgp.md
  examples/interop-clab/scenarios/evpn-multihoming/README.ja.md
  examples/interop-clab/scenarios/evpn-multihoming/README.md
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/test.sh
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/evpn_alias_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(evpn): RT1 Ethernet A-D を advertise し aliasing を interop 検証する (#130)
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  docs/design/ja/ecmp.md
  docs/design/ja/srv6_bgp.md
  examples/interop-clab/scenarios/evpn-multihoming/README.ja.md
  examples/interop-clab/scenarios/evpn-multihoming/README.md
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/test.sh
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/evpn_alias_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(prober): 書き込み失敗した group への再登録を防ぎ outage 中の PE 疎通を assert する
  examples/interop-clab/scenarios/sr-policy-2site/test.sh
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/probe_test.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(prober): SR Policy transport を probe の journey に反映する
  docs/design/ja/ecmp.md
  examples/interop-clab/scenarios/sr-policy-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-2site/README.md
  examples/interop-clab/scenarios/sr-policy-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/frr/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-2site/vinbero/vinbero.yml
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/probe_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(prober): SR Policy transport を probe の journey に反映する (#131)
  docs/design/ja/ecmp.md
  examples/interop-clab/scenarios/sr-policy-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-2site/README.md
  examples/interop-clab/scenarios/sr-policy-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/frr/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-2site/vinbero/vinbero.yml
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/probe_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(interop): l3vpn-2site の connected locator hack による RA 毒経路を除去する
  examples/interop-clab/scenarios/l3vpn-2site-auto/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site/README.md
  examples/interop-clab/scenarios/l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/frr/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(interop): l3vpn-2site の static 経路の所在を frr.conf と明記する
  examples/interop-clab/scenarios/l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(interop): l3vpn-2site の connected locator hack による RA 毒経路を除去する (#132)
  examples/interop-clab/scenarios/l3vpn-2site-auto/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site/README.md
  examples/interop-clab/scenarios/l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/frr/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(sdk): Go SDK が複製している server 側定数の drift を直す
  api/vinbero/v1/plugin.pb.go
  docs/design/ja/plugin-sdk.md
  proto/vinbero/v1/plugin.proto
  sdk/README.md
  sdk/go/plugin/aux.go
  sdk/go/plugin/aux_drift_test.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

chore: build 成果物ディレクトリ全体を ignore する
  .gitignore
Due: none

fix(sdk): aux 上限の記述を残り全部 256 に揃える
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/api_sequence.md
  pkg/cli/cmd_plugin.go
  pkg/cli/cmd_sid.go
  proto/vinbero/v1/vinbero.proto
  sdk/go/plugin/aux_drift_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(sdk): 存在しない flag 名の記述を直し、drift guard を強める
  docs/design/ja/plugin-sdk.md
  sdk/README.md
  sdk/go/plugin/aux_drift_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(sdk): 文書中の aux 上限を実定数と突き合わせる
  sdk/go/plugin/aux_drift_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(sdk): Go SDK の aux helper が使えない drift を直す (#136)
  .gitignore
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/api_sequence.md
  docs/design/ja/plugin-sdk.md
  pkg/cli/cmd_plugin.go
  pkg/cli/cmd_sid.go
  proto/vinbero/v1/plugin.proto
  proto/vinbero/v1/vinbero.proto
  sdk/README.md
  sdk/go/plugin/aux.go
  sdk/go/plugin/aux_drift_test.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): plugin owner に bundle 形式と正規化を足す
  pkg/bpf/owner.go
  pkg/bpf/owner_test.go
  pkg/bpf/plugin_owner.go
  pkg/bpf/plugin_owner_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(netlinkwatch): MACSink と RouteSink を fan-out 化する
  pkg/netlinkwatch/fdb_macsink_test.go
  pkg/netlinkwatch/fdb_watcher.go
  pkg/netlinkwatch/route_watcher.go
  pkg/netlinkwatch/route_watcher_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): 単一 subscription を demux で複数 consumer に fan-out する
  cmd/vinberod/main.go
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/demux_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): owner 単位の desired-set apply と key lease を足す
  pkg/cplane/headend.go
  pkg/cplane/headend_test.go
  pkg/cplane/lease.go
  pkg/cplane/lease_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): 未知 path attribute と endpoint behavior を RouteEvent に載せる
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode_passthrough_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): plugin が claim した endpoint behavior を built-in から外す
  cmd/vinberod/main.go
  pkg/bgp/demux/claim.go
  pkg/bgp/demux/claim_test.go
  pkg/bgp/demux/demux.go
  pkg/bgp/gobgp/behavior.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): wazero で control plane plugin を動かす基盤を足す
  Makefile
  go.mod
  go.sum
  pkg/cplane/wasm/abi.go
  pkg/cplane/wasm/admit.go
  pkg/cplane/wasm/clock.go
  pkg/cplane/wasm/host.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/runtime_test.go
  pkg/cplane/wasm/testdata/apply.wasm
  pkg/cplane/wasm/testdata/apply.wat
  pkg/cplane/wasm/testdata/badsig.wasm
  pkg/cplane/wasm/testdata/badsig.wat
  pkg/cplane/wasm/testdata/echo.wasm
  pkg/cplane/wasm/testdata/echo.wat
  pkg/cplane/wasm/testdata/importmem.wasm
  pkg/cplane/wasm/testdata/importmem.wat
  pkg/cplane/wasm/testdata/noalloc.wasm
  pkg/cplane/wasm/testdata/noalloc.wat
  pkg/cplane/wasm/testdata/nomemory.wasm
  pkg/cplane/wasm/testdata/nomemory.wat
  pkg/cplane/wasm/testdata/spin.wasm
  pkg/cplane/wasm/testdata/spin.wat
  pkg/cplane/wasm/testdata/trap.wasm
  pkg/cplane/wasm/testdata/trap.wat
  pkg/cplane/wasm/testdata/unknownhost.wasm
  pkg/cplane/wasm/testdata/unknownhost.wat
  pkg/cplane/wasm/testdata/wasi.wasm
  pkg/cplane/wasm/testdata/wasi.wat
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): claim を withdraw と on-demand snapshot にも効かせる
  cmd/vinberod/main.go
  pkg/bgp/demux/claim.go
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/ledger.go
  pkg/bgp/demux/ledger_test.go
  pkg/bgp/gobgp/behavior.go
  pkg/bgp/gobgp/decode_passthrough_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): plugin の登録から反映までを manager で繋ぐ
  Makefile
  api/vinbero/v1/cplane_plugin.pb.go
  pkg/cplane/encode.go
  pkg/cplane/lease.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/testdata/declare.wasm
  pkg/cplane/testdata/declare.wat
  pkg/cplane/wasm/clock.go
  pkg/cplane/wasm/runtime_test.go
  proto/vinbero/v1/cplane_plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

docs: control plane plugin の設計を design 配下に書く
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending
