Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

fix(cli): range-check vrf-bgp --bd-id before uint32 cast
  pkg/cli/cmd_vrf_bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: correct EVPN decode comment and pe-osaka topology note
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/vinbero.yml
  pkg/bgp/gobgp/decode_evpn.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(bgp): receive and advertise EVPN RT3 (Inclusive Multicast) over SRv6
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(interop): exercise EVPN BUM flood over RT3 in evpn-2site
  examples/interop-clab/scenarios/evpn-2site/clab.yml
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

test(bgp): cover RT3 withdraw-error / BD-full / SID-move / no-PMSI; clarify shared-entry comments
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bgp/gobgp/evpn_e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(interop): document RT3/BUM flood in evpn-2site and capture the flood path
  examples/interop-clab/scenarios/evpn-2site/README.ja.md
  examples/interop-clab/scenarios/evpn-2site/README.md
  examples/interop-clab/scenarios/evpn-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(bgp): receive EVPN RT4 (Ethernet Segment) and run RFC 8584 DF election
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): advertise EVPN RT4 (Ethernet Segment) with ES-Import RT
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bgp): key bd_peer reverse map by the remote PE source
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
  pkg/bpf/split_horizon_bench_test.go
  pkg/bpf/split_horizon_test.go
  pkg/server/bd_peer.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): add headend_entry flood_exclude so RT2 unicast peers skip the BUM flood
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  src/core/xdp_prog.h
  src/l2vpn/tc_bum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): only the EVPN unicast peer writes the bd_peer reverse map; bound ES membership
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/gobgp/decode.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
  pkg/bpf/split_horizon_bench_test.go
  pkg/bpf/split_horizon_test.go
  pkg/server/bd_peer.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): support passive neighbors and tune connect timers for iBGP full-mesh
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/session.go
  pkg/config/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): add 3-PE EVPN multihoming scenario (RT4 DF + split-horizon)
  .github/workflows/interop-clab.yaml
  .gitignore
  examples/interop-clab/scenarios/evpn-multihoming/README.ja.md
  examples/interop-clab/scenarios/evpn-multihoming/README.md
  examples/interop-clab/scenarios/evpn-multihoming/clab.yml
  examples/interop-clab/scenarios/evpn-multihoming/core/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/vinbero.yml
  examples/interop-clab/scenarios/evpn-multihoming/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(bgp): drop redundant gobgp Transport fields, make ConnectRetry configurable
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/session.go
  pkg/bgp/gobgp/session_test.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): harden evpn-multihoming DF and BUM assertions
  examples/interop-clab/scenarios/evpn-multihoming/core/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(loadmap): mark SR Policy (SAFI 73) as Supported (#43)
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bgp): elect DF on local attach so an RT4 before es-create is not lost
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/server/ethernet_segment.go
  pkg/server/server.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): flush ce-remote neighbour via busybox, not net-tools apk
  examples/interop-clab/scenarios/evpn-multihoming/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp): reject unspecified EVPN next hop and roll back bd_peer on partial install
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(design): document EVPN over SRv6 (RT2/RT3/RT4, DF election, split-horizon)
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(design): add EVPN diagrams for RT2/RT3 install, DF convergence, data plane
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(server): normalize EVPN MAC so advertise and withdraw share a tracking key
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): put RD in RouteKey.RD for EVPN keys; check reverse-scan error
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bpf/maps.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: validate MUP RPC inputs against narrowing casts + correct mup-gw ISD comment
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  pkg/server/bgp_route_mup.go
  pkg/server/bgp_route_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(loadmap): mark EVPN (RT2/3/4) as Supported
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(loadmap): mark EVPN (RT2/3/4) as Supported (#46)
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(gobgp): bound Session.Stop() so a wedged gobgp teardown can't hang
  pkg/bgp/gobgp/session.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(gobgp): bound Session.Stop() so a wedged gobgp teardown can't hang (#47)
  pkg/bgp/gobgp/session.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: reject empty MUP v6 F-TEID endpoint + over-length T2ST TEID prefix
  pkg/bgp/gobgp/decode_mup.go
  pkg/bgp/gobgp/decode_mup_test.go
  pkg/bpf/maps.go
  pkg/bpf/mup_uplink_key_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): VRF-export driven automatic advertise (Phase 2a/2b)
  cmd/vinberod/main.go
  docs/loadmap.md
  pkg/bgp/apply/applier.go
  pkg/bgp/bgp.go
  pkg/bgp/export/exporter.go
  pkg/bgp/export/exporter_test.go
  pkg/bgp/export/netlink_resolver.go
  pkg/bgp/gobgp/advertise.go
  pkg/config/config.go
  pkg/fib/route.go
  pkg/fib/route_test.go
  pkg/netlinkwatch/route_watcher.go
  pkg/netlinkwatch/route_watcher_test.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): config locators + auto-advertise next-hop; FRR interop E2E
  cmd/vinberod/main.go
  examples/interop-clab/scenarios/l3vpn-2site-auto/README.md
  examples/interop-clab/scenarios/l3vpn-2site-auto/clab.yml
  examples/interop-clab/scenarios/l3vpn-2site-auto/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/frr/frr.conf
  examples/interop-clab/scenarios/l3vpn-2site-auto/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/test.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/vinbero/start.sh
  examples/interop-clab/scenarios/l3vpn-2site-auto/vinbero/vinbero.yml
  pkg/bgp/export/exporter.go
  pkg/bgp/export/exporter_test.go
  pkg/config/config.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint
