Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

fix(bgp/evpn): run the boot bridge-domain enable after session start and MAC sink wiring
  cmd/vinberod/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(bgp/evpn): resolve the bridge domain from the VRF facet in the coordinator
  cmd/vinberod/main.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/evpn_test.go
  pkg/server/evpn_coordinator.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(vrfbgp): derive the EVPN receive bridge domain from the VRF facet
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/export/evpn_test.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(vrfbgp)!: remove Binding.BDID; the bridge domain derives from the VRF facet
  api/vinbero/v1/vrf_bgp.pb.go
  cmd/vinberod/main.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  pkg/vrfbgp/manager.go
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

docs(evpn): attach the bridge facet before the bind; drop --bd-id from vrf-bgp
  docs/design/ja/configuration.md
  docs/design/ja/forwarding_model.md
  docs/design/ja/srv6_bgp.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(vrfbgp): review fixes for the facet-derived bridge domain
  pkg/config/config.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(vrfbgp): rename the no-evpn-family gate test to the facet vocabulary
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(vrfbgp): sharpen the facet-lookup and tombstone wording
  docs/design/ja/vrf.md
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(vrfbgp)!: derive the EVPN bridge domain from the VRF bridge facet (#98)
  .gitignore
  api/vinbero/v1/vrf_bgp.pb.go
  cmd/vinberod/main.go
  docs/design/ja/configuration.md
  docs/design/ja/forwarding_model.md
  docs/design/ja/srv6_bgp.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/export/evpn.go
  pkg/bgp/export/evpn_test.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/server/evpn_coordinator.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): add RouteLister, an on-demand loc-rib snapshot
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/lister.go
  pkg/bgp/gobgp/lister_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/apply): ReplayEVPN re-applies the loc-rib through the receive path
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(server): replay the EVPN loc-rib when the import surface widens
  cmd/vinberod/main.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(evpn): the bind/attach ordering window is now rescued by the loc-rib replay
  docs/design/ja/srv6_bgp.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor(bgp/evpn): review fixes for the loc-rib replay
  pkg/bgp/apply/evpn.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/evpn): rescue early EVPN routes with an attach/bind-time loc-rib replay (#99)
  cmd/vinberod/main.go
  docs/design/ja/srv6_bgp.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe1/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe2/start.sh
  examples/interop-clab/scenarios/evpn-multihoming/pe3/start.sh
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/bgp/gobgp/lister.go
  pkg/bgp/gobgp/lister_test.go
  pkg/bgp/gobgp/subscriber.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(netresource): atomic state writes, error propagation, fail-closed reconcile
  pkg/netresource/bridge.go
  pkg/netresource/manager.go
  pkg/netresource/reconcile_test.go
  pkg/netresource/state.go
  pkg/netresource/state_test.go
  pkg/netresource/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vinbero): boot reconcile failures are fatal, not warnings
  pkg/vinbero/vinbero.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(persistence): atomic writes, persist errors, fail-closed reconcile
  docs/design/ja/persistence.md
  docs/design/ja/vrf.md
Due: check-executables-have-shebangs, mixed-line-ending

test(netresource): pin subtest and worker goroutines to the test netns
  pkg/netresource/reconcile_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(netresource): review fixes for the state hardening
  pkg/netresource/manager.go
  pkg/netresource/reconcile_test.go
  pkg/netresource/state_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf/ecmp): weighted ECMP path groups in the headend data plane
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_ecmp_test.go
  pkg/config/config.go
  src/core/srv6_ecmp.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/l2_headend.c
  src/dispatch/srv6_dispatch.c
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_l2.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
  src/headend/srv6_headend_utils.h
  src/l2vpn/tc_bum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(design): describe the ECMP path group data plane
  docs/design/ja/ecmp.md
  docs/design/ja/forwarding_model.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bpf/ecmp): harden the group lifecycle and label entropy after review
  docs/design/ja/ecmp.md
  docs/design/ja/persistence.md
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate_btf.go
  pkg/bpf/xdp_ecmp_test.go
  sdk/c/include/vinbero/plugin.h
  src/core/srv6_ecmp.h
  src/core/xdp_prog.h
  src/dispatch/srv6_dispatch.c
  src/headend/srv6_encaps.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf/ecmp): keep replaced groups intact when the info write fails
  pkg/bpf/maps.go
  sdk/c/include/vinbero/plugin.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf/ecmp): never let a computed flow hash collide with the unhashed sentinel
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/srv6_ecmp.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bpf/ecmp): roll back partially written path slots on a failed fresh create
  pkg/bpf/maps.go
  src/core/xdp_tailcall.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(bpf/ecmp): share one collection load across the ECMP subtests
  .github/workflows/test.yaml
  pkg/bpf/xdp_ecmp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

docs(bpf/ecmp): note that ipv6_set_flow_label clears the low Traffic Class nibble
  src/headend/srv6_headend_utils.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(bpf/ecmp): weighted ECMP path groups in the headend data plane (#101)
  .github/workflows/test.yaml
  docs/design/ja/ecmp.md
  docs/design/ja/forwarding_model.md
  docs/design/ja/persistence.md
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate_btf.go
  pkg/bpf/xdp_ecmp_test.go
  pkg/config/config.go
  sdk/c/include/vinbero/plugin.h
  src/core/srv6_ecmp.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/l2_headend.c
  src/dispatch/srv6_dispatch.c
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_l2.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
  src/headend/srv6_headend_utils.h
  src/l2vpn/tc_bum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bpf/endpoint): keep the End.B6 noinline boundary at five register args
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_end_b6.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(examples): headend ECMP path-group netns example with fast-reroute demo
  .github/workflows/test.yaml
  cmd/vinbero-ecmpdemo/main.go
  examples/README.md
  examples/headend-ecmp/README.ja.md
  examples/headend-ecmp/README.md
  examples/headend-ecmp/setup.sh
  examples/headend-ecmp/teardown.sh
  examples/headend-ecmp/test.sh
  examples/headend-ecmp/vinbero_router1.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(examples/ecmpdemo): detect missing live-map keys with errors.Is
  cmd/vinbero-ecmpdemo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(examples/ecmpdemo): reject the group-id 0 sentinel in every subcommand
  cmd/vinbero-ecmpdemo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(examples/ecmpdemo): define the version flag test-runnable probes
  cmd/vinbero-ecmpdemo/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf/endpoint): keep the End.B6 noinline boundary at five register args (#102)
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_end_b6.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(netresource): atomic state writes, error propagation, fail-closed reconcile (#100)
  docs/design/ja/persistence.md
  docs/design/ja/vrf.md
  pkg/netresource/bridge.go
  pkg/netresource/manager.go
  pkg/netresource/reconcile_test.go
  pkg/netresource/state.go
  pkg/netresource/state_test.go
  pkg/netresource/vrf.go
  pkg/vinbero/vinbero.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(examples/ecmp): reject empty path segments; best-effort NDP warmup
  cmd/vinbero-ecmpdemo/main.go
  examples/headend-ecmp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(examples): headend ECMP path-group netns example with fast-reroute demo (#103)
  .github/workflows/test.yaml
  cmd/vinbero-ecmpdemo/main.go
  examples/README.md
  examples/headend-ecmp/README.ja.md
  examples/headend-ecmp/README.md
  examples/headend-ecmp/setup.sh
  examples/headend-ecmp/teardown.sh
  examples/headend-ecmp/test.sh
  examples/headend-ecmp/vinbero_router1.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(benchmark): TRex-driven SRv6 dataplane load-test harness
  .gitignore
  benchmark/README.md
  benchmark/analysis/stats.py
  benchmark/configs/vinbero-bench-stats.yml
  benchmark/configs/vinbero-bench.yml
  benchmark/pipelines/common.sh
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/setup_dut.sh
  benchmark/pipelines/teardown_dut.sh
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(benchmark): unwrap 32-bit port counters from TRex stats
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending
