Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat(plugin): persist owner tags via aux_owner_map and version the format
  pkg/bpf/maps.go
  pkg/bpf/plugin_aux_alloc_test.go
  sdk/examples/plugin-counter/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugin): add PluginAuxPurge / PluginAuxList RPCs and CLI
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  docs/design/ja/persistence.md
  pkg/cli/cmd_plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): add aux_owner_map for persistent plugin aux ownership
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  src/core/srv6.h
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(sdk): ship src/core/srv6.h in the plugin tarball
  .github/workflows/test.yaml
  .goreleaser.yaml
  Makefile
  scripts/sdk_archive_verify.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(sdk): add Debian/Ubuntu multiarch include path to plugin Makefile
  sdk/c/Makefile.plugin
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

ci: install libbpf-dev for the SDK archive verify job
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(plugin): reject PluginAuxPurge against still-registered slots
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugin): static-analyze plugin ELFs for shared-RO map writes
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugin): exempt BPF_LOAD_ACQ from RO-write detection
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugin): track map identity through bpf_map_lookup_elem and reg-MOV in RO-write validator
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(plugin): simplify validator and aux owner-tag plumbing
  Makefile
  pkg/bpf/bpf.go
  pkg/bpf/maps.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  pkg/server/server.go
  sdk/examples/plugin-counter-evil/README.md
  sdk/examples/plugin-counter-evil/plugin.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(plugin): wire RO-write enforcement through server / CLI / build
  Makefile
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  pkg/cli/cmd_plugin.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/server.go
  sdk/examples/plugin-counter-evil/Makefile
  sdk/examples/plugin-counter-evil/README.md
  sdk/examples/plugin-counter-evil/plugin.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugin): scope subprogram boundary to actually-called functions
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(sdk): publish a goreleaser tarball alongside the binaries (#24)
  .goreleaser.yaml
  Makefile
  scripts/sdk_archive_verify.sh
  sdk/README.md
  sdk/examples/plugin-counter/Makefile
  sdk/examples/simple-acl/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(plugin): persist plugin aux ownership across daemon restart (#25)
  .github/workflows/test.yaml
  .goreleaser.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  docs/design/ja/persistence.md
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  proto/vinbero/v1/plugin.proto
  scripts/sdk_archive_verify.sh
  sdk/c/Makefile.plugin
  sdk/examples/plugin-counter/test.sh
  src/core/srv6.h
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(plugin): asm-level RO write enforcement for plugin ELFs (#26)
  Makefile
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  pkg/bpf/bpf.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  pkg/server/server.go
  sdk/examples/plugin-counter-evil/Makefile
  sdk/examples/plugin-counter-evil/README.md
  sdk/examples/plugin-counter-evil/plugin.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugin): address Copilot review on RO-write validator
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(plugin): close TOCTOU between PluginAuxPurge live check and zero-write
  pkg/server/plugin_aux.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: address Copilot review round 2 — align doc and comment wording with implementation
  api/vinbero/v1/plugin.pb.go
  docs/design/ja/persistence.md
  docs/dev/plugin-sdk-implementation.md
  pkg/bpf/maps.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

chore: untrack docs/dev/plugin-sdk-implementation.md per repo policy
  docs/dev/plugin-sdk-implementation.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: land squashed #25 and #26 onto main (#28)
  .github/workflows/test.yaml
  .goreleaser.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  docs/design/ja/persistence.md
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/config/config.go
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  pkg/server/server.go
  proto/vinbero/v1/plugin.proto
  scripts/sdk_archive_verify.sh
  sdk/c/Makefile.plugin
  sdk/examples/plugin-counter-evil/Makefile
  sdk/examples/plugin-counter-evil/README.md
  sdk/examples/plugin-counter-evil/plugin.c
  sdk/examples/plugin-counter/test.sh
  src/core/srv6.h
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): scaffold L2 headend tail-call infrastructure
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  src/core/xdp_map.h
  src/core/xdp_stats.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/l2_headend.c
  src/headend/tailcall_headend.c
  src/headend/tailcall_headend_l2.c
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): flip try_l2_headend no-BD path to tail-call dispatch
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/dispatch/l2_headend.c
  src/headend/tailcall_headend_l2.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bpf): collapse L2 headend dispatch into a single bpf_tail_call site
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/dispatch/l2_headend.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(plugin): open headend_l2 plugin slot + SDK helpers (Phase 2)
  .goreleaser.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/bpf/slotname.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin_aux_test.go
  proto/vinbero/v1/plugin.proto
  scripts/sdk_archive_verify.sh
  sdk/c/include/vinbero/headend_l2_helpers.h
  sdk/c/include/vinbero/plugin.h
  sdk/examples/plugin-counter-l2/Makefile
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-counter-l2/plugin.c
  sdk/examples/plugin-custom-sh/Makefile
  sdk/examples/plugin-custom-sh/README.md
  sdk/examples/plugin-custom-sh/plugin.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor(plugin): tighten Phase 2 L2 plugin SDK after review
  api/vinbero/v1/plugin.pb.go
  pkg/cli/cmd_plugin.go
  proto/vinbero/v1/plugin.proto
  sdk/c/include/vinbero/headend_l2_helpers.h
  sdk/c/include/vinbero/plugin.h
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-counter-l2/plugin.c
  sdk/examples/plugin-custom-sh/plugin.c
  src/dispatch/l2_headend.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

ci: run sdk-test-negative alongside sdk-archive-verify
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(sdk): make vinbero_l2_is_df actually check DF election state
  sdk/c/include/vinbero/headend_l2_helpers.h
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-custom-sh/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(plugin): fix README bpftool path and self-contained tail-call note
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-custom-sh/README.md
  src/dispatch/l2_headend.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(plugin): open headend_l2 plugin slot + SDK helpers (Phase 2) (#30)
  .github/workflows/test.yaml
  .goreleaser.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/bpf/slotname.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin_aux_test.go
  proto/vinbero/v1/plugin.proto
  scripts/sdk_archive_verify.sh
  sdk/c/include/vinbero/headend_l2_helpers.h
  sdk/c/include/vinbero/plugin.h
  sdk/examples/plugin-counter-l2/Makefile
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-counter-l2/plugin.c
  sdk/examples/plugin-custom-sh/Makefile
  sdk/examples/plugin-custom-sh/README.md
  sdk/examples/plugin-custom-sh/plugin.c
  src/dispatch/l2_headend.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): scaffold L2 headend tail-call infrastructure (Phase 1) (#29)
  .github/workflows/test.yaml
  .goreleaser.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/bpf/slotname.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin_aux_test.go
  proto/vinbero/v1/plugin.proto
  scripts/sdk_archive_verify.sh
  sdk/c/include/vinbero/headend_l2_helpers.h
  sdk/c/include/vinbero/plugin.h
  sdk/examples/plugin-counter-l2/Makefile
  sdk/examples/plugin-counter-l2/README.md
  sdk/examples/plugin-counter-l2/plugin.c
  sdk/examples/plugin-custom-sh/Makefile
  sdk/examples/plugin-custom-sh/README.md
  sdk/examples/plugin-custom-sh/plugin.c
  src/core/xdp_map.h
  src/core/xdp_stats.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/l2_headend.c
  src/headend/tailcall_headend.c
  src/headend/tailcall_headend_l2.c
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): track per-entry owner on sid_function and headend maps
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/owner.go
  pkg/bpf/owner_conflict_test.go
  pkg/bpf/owner_test.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_test.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/server/headendv4.go
  pkg/server/headendv6.go
  pkg/server/sid_function.go
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(locator): add SRv6 locator manager with SidFunctionCreate locator_ref
  api/vinbero/v1/locator.pb.go
  api/vinbero/v1/locator_grpc.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinberov1connect/locator.connect.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_locator.go
  pkg/locator/allocator.go
  pkg/locator/allocator_test.go
  pkg/locator/binding.go
  pkg/locator/locator.go
  pkg/locator/locator_test.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/locator.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor(locator): simplify-review pass over Phase 1b
  api/vinbero/v1/locator.pb.go
  pkg/cli/cmd_locator.go
  pkg/locator/allocator.go
  pkg/locator/allocator_test.go
  pkg/locator/binding.go
  pkg/locator/locator.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/locator.go
  pkg/server/sid_function.go
  proto/vinbero/v1/locator.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(locator): address PR #32 Copilot review comments
  api/vinbero/v1/vinbero.pb.go
  pkg/cli/cmd_locator.go
  pkg/locator/binding.go
  pkg/locator/manager_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_locator_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(locator): add SRv6 locator manager (Phase 1b, stacked on #31) (#32)
  api/vinbero/v1/locator.pb.go
  api/vinbero/v1/locator_grpc.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinberov1connect/locator.connect.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_locator.go
  pkg/locator/allocator.go
  pkg/locator/allocator_test.go
  pkg/locator/binding.go
  pkg/locator/locator.go
  pkg/locator/locator_test.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_locator_test.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/locator.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): embed GoBGP behind a BGPd-agnostic interface (Phase 1c)
  cmd/vinberod/main.go
  go.mod
  go.sum
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/client.go
  pkg/bgp/client_test.go
  pkg/bgp/gobgp/session.go
  pkg/bgp/gobgp/session_test.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
