Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat(bgp): track EVPN RT2/RT3 as per-path contributions
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/bdpeer_delete_recovery_test.go
  pkg/bgp/apply/empty_sid_replace_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/evpn_multipath_test.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bench): add balanced cplane convergence measurement suites
  .github/workflows/bench-convergence.yaml
  Makefile
  api/vinbero/v1/plugin.pb.go
  bench/README.md
  bench/rq1/affinity.py
  bench/rq1/analysis.py
  bench/rq1/cmd/rq1probe/calibrate.go
  bench/rq1/cmd/rq1probe/calibrate_test.go
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/probe.go
  bench/rq1/suite.py
  bench/rq1/test_analysis.py
  bench/rq1/test_suite.py
  bench/rq1/topo/check.py
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/test_check.py
  docs/design/ja/cplane-plugin.md
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/delivery.go
  pkg/cplane/delivery_idle_test.go
  pkg/cplane/stats.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bench): reject incomplete pacing and track pending replays
  bench/README.md
  bench/rq1/analysis.py
  bench/rq1/cmd/rq1probe/calibrate.go
  bench/rq1/cmd/rq1probe/calibrate_test.go
  bench/rq1/suite.py
  bench/rq1/test_analysis.py
  bench/rq1/test_suite.py
  docs/design/ja/cplane-plugin.md
  pkg/cplane/delivery_idle_test.go
  pkg/cplane/manager.go
  pkg/cplane/stats.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): make bd_peer lifecycle transactional across its writers (#172)
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/bdpeer_delete_recovery_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
  pkg/server/bd_peer.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(server): mint uSID SID functions from a locator_ref (#181)
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  pkg/cli/cmd_sid.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_locator_ref_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): track EVPN RT2/RT3 as per-path contributions (#182)
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/bdpeer_delete_recovery_test.go
  pkg/bgp/apply/empty_sid_replace_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bgp/apply/evpn_multipath_test.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
