Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

feat: add NetworkResourceService for VRF/Bridge management via API
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinbero/main.go
  docs/design/ja/api_sequence.md
  docs/design/ja/bridge_domain.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/getting_started.md
  examples/end-dt2/vinbero_router3.yaml
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  pkg/config/config.go
  pkg/netlinkwatch/fdb_watcher.go
  pkg/netlinkwatch/fdb_watcher_test.go
  pkg/netresource/bridge.go
  pkg/netresource/manager.go
  pkg/netresource/state.go
  pkg/netresource/vrf.go
  pkg/server/network_resource.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/vinbero/vinbero.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: add vinbero CLI and rename daemon to vinberod
  cmd/vinbero/main.go
  cmd/vinberod/main.go
  examples/end-dt2/test.sh
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx4/README.md
  examples/end-dx4/test.sh
  examples/end-dx6/README.md
  examples/end-dx6/test.sh
  examples/end/README.md
  examples/end/test.sh
  examples/headend-l2/README.md
  examples/headend-l2/test.sh
  examples/headend-v4/README.md
  examples/headend-v4/test.sh
  examples/headend-v6/README.md
  examples/headend-v6/test.sh
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_bdpeer.go
  pkg/cli/cmd_dmac.go
  pkg/cli/cmd_headend.go
  pkg/cli/cmd_resource.go
  pkg/cli/cmd_sid.go
  pkg/cli/output.go
  pkg/cli/resolve.go
  pkg/completion/bash_completion.sh
  pkg/completion/embed.go
  pkg/completion/zsh_completion.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: add --version flag to vinbero CLI for test-runnable compatibility
  pkg/cli/app.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: rename dmac CLI command to fdb
  pkg/cli/cmd_dmac.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: update goreleaser to build both vinberod and vinbero CLI
  .goreleaser.yaml
Due: none

fix: upload both vinberod and vinbero binaries in CI
  .github/workflows/test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci: add multi-kernel BPF load test with vimto
  .github/workflows/bpf_load_test.yaml
  pkg/bpf/load_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

ci: narrow BPF load test triggers to C/header/object changes only
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci: add .vimto.toml and make test-bpf-load target
  .vimto.toml
  Makefile
Due: none

fix: address Copilot review feedback
  docs/design/ja/getting_started.md
  pkg/netresource/bridge.go
  pkg/netresource/state.go
  pkg/netresource/vrf.go
  pkg/server/network_resource.go
  pkg/vinbero/vinbero.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: replace curl with vinbero CLI in all example test scripts
  examples/end-dt2/test.sh
  examples/end-dt4/test.sh
  examples/end-dt6/test.sh
  examples/end-dx4/test.sh
  examples/end-dx6/test.sh
  examples/end/test.sh
  examples/headend-l2/test.sh
  examples/headend-v4/test.sh
  examples/headend-v6/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs: add missing READMEs and update all examples to use vinbero CLI
  examples/end-dt2/README.md
  examples/end-dt4/README.md
  examples/end-dt6/README.md
  examples/end-dx4/README.md
  examples/end-dx6/README.md
  examples/end/README.md
  examples/headend-l2/README.md
  examples/headend-v4/README.md
  examples/headend-v6/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix: move --json flag before subcommand in end-dt2 test
  examples/end-dt2/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: match JSON indent format in headend-l2 test grep patterns
  examples/headend-l2/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

test: add End.DT2 P2MP integration test
  .github/workflows/test.yaml
  examples/common/topologies/four_router.sh
  examples/end-dt2-p2mp/README.md
  examples/end-dt2-p2mp/setup.sh
  examples/end-dt2-p2mp/teardown.sh
  examples/end-dt2-p2mp/test.sh
  examples/end-dt2-p2mp/vinbero_pe1.yaml
  examples/end-dt2-p2mp/vinbero_pe2.yaml
  examples/end-dt2-p2mp/vinbero_pe3.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs: replace ASCII topology diagrams with mermaid in all READMEs
  examples/end-dt2-p2mp/README.md
  examples/end-dt2/README.md
  examples/end-dt4/README.md
  examples/end-dt6/README.md
  examples/end-dx4/README.md
  examples/end-dx6/README.md
  examples/end/README.md
  examples/headend-l2/README.md
  examples/headend-v4/README.md
  examples/headend-v6/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: add CLI section to top-level README
  README.md
Due: none

feat: implement End.X, End.T and SRv6 flavors (PSP/USP/USD)
  .github/workflows/test.yaml
  docs/loadmap.md
  examples/end-t/setup.sh
  examples/end-t/teardown.sh
  examples/end-t/test.sh
  examples/end-t/vinbero_router2.yaml
  examples/end-x/setup.sh
  examples/end-x/teardown.sh
  examples/end-x/test.sh
  examples/end-x/vinbero_router2.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/cli/resolve_test.go
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_endpoint.h
  src/srv6_fib.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: implement End.X, End.T and SRv6 flavors (PSP/USP/USD)
  .github/workflows/test.yaml
  docs/dev/end_x_end_t_flavors.md
  docs/loadmap.md
  examples/end-t/setup.sh
  examples/end-t/teardown.sh
  examples/end-t/test.sh
  examples/end-t/vinbero_router2.yaml
  examples/end-x/setup.sh
  examples/end-x/teardown.sh
  examples/end-x/test.sh
  examples/end-x/vinbero_router2.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/cli/resolve_test.go
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_endpoint.h
  src/srv6_fib.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint
