Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat(bpf): add End and End.X with REPLACE-CSID (RFC 9800 Sec.4.2)
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_replace_test.go
  src/core/srv6.h
  src/core/xdp_prog.h
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(examples): REPLACE-CSID end-to-end scenario and docs
  .github/workflows/test.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-replace/README.ja.md
  examples/end-replace/README.md
  examples/end-replace/setup.sh
  examples/end-replace/teardown.sh
  examples/end-replace/test.sh
  examples/end-replace/vinbero_router2.yaml
  examples/end-replace/vinbero_router3.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat: REPLACE-CSID flavor for End and End.X (RFC 9800 Sec.4.2) (#159)
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-replace/README.ja.md
  examples/end-replace/README.md
  examples/end-replace/setup.sh
  examples/end-replace/teardown.sh
  examples/end-replace/test.sh
  examples/end-replace/vinbero_router2.yaml
  examples/end-replace/vinbero_router3.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_replace_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/srv6.h
  src/core/xdp_prog.h
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): forward End.X-family USD over the adjacency
  docs/design/ja/usid.md
  docs/loadmap.md
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_replace_test.go
  pkg/bpf/xdp_usid_test.go
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): forward End.X-family USD over the adjacency (#160)
  docs/design/ja/usid.md
  docs/loadmap.md
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_replace_test.go
  pkg/bpf/xdp_usid_test.go
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): enable IPv6 forwarding in the adjacency test fixture
  pkg/bpf/xdp_usid_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): enable IPv6 forwarding in the adjacency test fixture (#164)
  pkg/bpf/xdp_usid_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): add End.LBS and End.XLBS (RFC 9800 Sec.7)
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_lbs_test.go
  src/core/xdp_prog.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(server): control plane for End.LBS and End.XLBS
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(examples): End.LBS end-to-end scenario and docs
  .github/workflows/test.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-lbs/README.ja.md
  examples/end-lbs/README.md
  examples/end-lbs/setup.sh
  examples/end-lbs/teardown.sh
  examples/end-lbs/test.sh
  examples/end-lbs/vinbero_router2.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat: End.LBS and End.XLBS (RFC 9800 Sec.7, Locator-Block Swap) (#166)
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-lbs/README.ja.md
  examples/end-lbs/README.md
  examples/end-lbs/setup.sh
  examples/end-lbs/teardown.sh
  examples/end-lbs/test.sh
  examples/end-lbs/vinbero_router2.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_lbs_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/endpoint/srv6_endpoint_replace.h
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): signal and honour the SRv6 SID Structure on L3VPN routes
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_usid_test.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/bgp.go
  pkg/bgp/export/exporter.go
  pkg/bgp/export/exporter_usid_test.go
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_usid_test.go
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_mup.go
  pkg/bgp/gobgp/decode_test.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_usid_test.go
  pkg/server/mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): stop udev from flushing the adjacency test fixture's neighbour
  pkg/bpf/xdp_replace_test.go
  pkg/bpf/xdp_usid_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): uSID L3VPN scenario against FRR usid-f3216
  .github/workflows/interop-clab.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/clab.yml
  examples/interop-clab/scenarios/usid-l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/frr.conf
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/test.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

test(interop): uSID L3VPN scenario against FRR usid-f3216 (#168)
  .github/workflows/interop-clab.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/clab.yml
  examples/interop-clab/scenarios/usid-l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/frr.conf
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/test.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(bgp): signal and honour the SRv6 SID Structure on L3VPN routes (#167)
  .github/workflows/interop-clab.yaml
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/README.md
  examples/interop-clab/scenarios/usid-l3vpn-2site/clab.yml
  examples/interop-clab/scenarios/usid-l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/frr.conf
  examples/interop-clab/scenarios/usid-l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/test.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/start.sh
  examples/interop-clab/scenarios/usid-l3vpn-2site/vinbero/vinbero.yml
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_usid_test.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/probe.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/bgp.go
  pkg/bgp/export/exporter.go
  pkg/bgp/export/exporter_usid_test.go
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_usid_test.go
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_mup.go
  pkg/bgp/gobgp/decode_test.go
  pkg/bpf/xdp_replace_test.go
  pkg/bpf/xdp_usid_test.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_usid_test.go
  pkg/server/mup.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bpf): finish the verifier log change and reset the plugin slots
  docs/design/ja/configuration.md
  pkg/bpf/bpf.go
  pkg/bpf/shared_collection_test.go
  pkg/config/internal.go
  sdk/examples/plugin-acl-prefix/vinbero_config.yaml
  sdk/examples/plugin-counter/vinbero_config.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bpf): finish the verifier log cleanup and keep one shared collection per test
  docs/design/ja/configuration.md
  examples/end-lbs/vinbero_router2.yaml
  examples/end-replace/vinbero_router2.yaml
  examples/end-replace/vinbero_router3.yaml
  examples/end-ua/vinbero_router2.yaml
  examples/end-udt4/vinbero_router3.yaml
  examples/end-un-usd/vinbero_router3.yaml
  examples/end-un/vinbero_router2.yaml
  examples/end-ut/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/shared_collection_test.go
  pkg/bpf/xdp_replace_test.go
  pkg/config/internal.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bgp): tear down MUP and EVPN state on unusable replacement UPDATEs
  docs/design/ja/srv6_bgp.md
  pkg/bgp/apply/empty_sid_replace_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): accept XDP_REDIRECT in the VPNv4 encap E2E verdict
  pkg/bgp/gobgp/e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): tear down MUP and EVPN state on unusable replacement UPDATEs (#170)
  docs/design/ja/srv6_bgp.md
  pkg/bgp/apply/empty_sid_replace_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/mup.go
  pkg/bgp/gobgp/e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): finish the verifier log change and reset the plugin slots (#169)
  docs/design/ja/configuration.md
  examples/end-lbs/vinbero_router2.yaml
  examples/end-replace/vinbero_router2.yaml
  examples/end-replace/vinbero_router3.yaml
  examples/end-ua/vinbero_router2.yaml
  examples/end-udt4/vinbero_router3.yaml
  examples/end-un-usd/vinbero_router3.yaml
  examples/end-un/vinbero_router2.yaml
  examples/end-ut/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/shared_collection_test.go
  pkg/bpf/xdp_replace_test.go
  pkg/config/internal.go
  sdk/examples/plugin-acl-prefix/vinbero_config.yaml
  sdk/examples/plugin-counter/vinbero_config.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(cplane): repair claim handoffs and replay lifecycle
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/recovery_test.go
  pkg/cplane/wasm/host.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/testdata/clock.wasm
  pkg/cplane/wasm/testdata/clock.wat
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): handle inherited routes and replay edge cases
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/recovery_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): restore built-in routes after claim rollback
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/demux.go
  pkg/cplane/manager.go
  pkg/cplane/recovery_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(demux): preserve live routes across claim retraction scans
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/ledger_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(demux): share built-in route history with on-demand replays
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/ledger_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): defer publication until replay debt is repaid
  docs/design/ja/cplane-plugin.md
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/recovery_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): publish only after held live events are drained
  docs/design/ja/cplane-plugin.md
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/recovery_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(demux): preserve claim decisions across path races
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/cplane/recovery_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): 経路の担当変更と replay 後の状態適用を修正する (#171)
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_test.go
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/ledger_test.go
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/recovery_test.go
  pkg/cplane/wasm/host.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/testdata/clock.wasm
  pkg/cplane/wasm/testdata/clock.wat
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): make bd_peer deletion atomic, occupancy-aware, and race-free
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/bdpeer_delete_recovery_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
  pkg/server/bd_peer.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(cplane): share headend reconciliation with built-in appliers
  cmd/vinberod/main.go
  docs/design/ja/cplane-evolution.md
  docs/design/ja/cplane-plugin.md
  docs/design/ja/persistence.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/shared_headend_test.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/apply/vpngroup_test.go
  pkg/cplane/headend.go
  pkg/cplane/lease.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/shared_headend_test.go
  pkg/cplane/stats.go
  pkg/headend/reconciler.go
  pkg/headend/set.go
  pkg/ownership/lease.go
  pkg/ownership/quota.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(headend): preserve lease refusals during owner preflight
  pkg/bgp/apply/shared_headend_test.go
  pkg/cplane/shared_headend_test.go
  pkg/headend/set.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(headend): inspect pinned owners before reserving keys
  pkg/cplane/shared_headend_test.go
  pkg/headend/reconciler.go
  pkg/headend/set.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): keep implementation planning in the PR
  docs/design/ja/cplane-evolution.md
  docs/design/ja/cplane-plugin.md
  docs/design/ja/persistence.md
Due: check-executables-have-shebangs, mixed-line-ending

refactor(cplane): share headend reconciliation with built-in appliers (#173)
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  docs/design/ja/persistence.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/shared_headend_test.go
  pkg/bgp/apply/vpngroup.go
  pkg/bgp/apply/vpngroup_test.go
  pkg/cplane/headend.go
  pkg/cplane/lease.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/shared_headend_test.go
  pkg/cplane/stats.go
  pkg/headend/reconciler.go
  pkg/headend/set.go
  pkg/ownership/lease.go
  pkg/ownership/quota.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): add Go guest SDK and replay-aware route view
  .github/workflows/interop-clab.yaml
  .github/workflows/test.yaml
  Makefile
  docs/design/ja/cplane-plugin.md
  sdk/README.md
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/config.go
  sdk/examples/cplane-custom-behavior/go.mod
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/examples/cplane-custom-behavior/wire.go
  sdk/go/cplane/README.md
  sdk/go/cplane/client.go
  sdk/go/cplane/codec_test.go
  sdk/go/cplane/decode.go
  sdk/go/cplane/guest/doc.go
  sdk/go/cplane/guest/guest.go
  sdk/go/cplane/guest/guest_test.go
  sdk/go/cplane/guest/testdata/observer.go
  sdk/go/cplane/types.go
  sdk/go/cplane/view.go
  sdk/go/cplane/view_test.go
  sdk/go/cplane/wire/wire.go
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/sdk_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(cplane): retain route diagnostics in the SDK example
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): retract sender state when example configuration disables it
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-tokyo/start.sh
  pkg/cplane/example_plugin_test.go
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/config.go
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplane/README.md
  sdk/go/cplane/client.go
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
  sdk/go/cplaneharness/sdk_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
