Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat(benchmark): selectable flow count for RSS spread control
  benchmark/README.md
  benchmark/trex/vinbero_streams.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

ci(bpf): add kernel 7.0 to BPF load test matrix
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(benchmark): NIC queue pinning tuner and per-run flow count
  benchmark/README.md
  benchmark/pipelines/common.sh
  benchmark/pipelines/run_bench.sh
  benchmark/pipelines/tune_dut.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

ci(bpf): add kernel 7.0 to BPF load test matrix (#104)
  .github/workflows/bpf_load_test.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(readme): scope the interop bullet to the CI scenarios
  README.md
Due: none

docs(changelog): neutralize the #92 entry wording
  CHANGELOG.md
Due: none

docs(readme): scope the interop bullet to the CI scenarios (#105)
  CHANGELOG.md
  README.md
Due: none

feat(bpf): add service programming return-path base for SR-unaware proxies
  api/vinbero/v1/enums.pb.go
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/config/config.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  src/core/srv6.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/dispatch/service_return.c
  src/xdp_main.c
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bpf): pin service-return l3_offset contract for Ethernet circuits
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/xdp_tailcall.h
  src/dispatch/service_return.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(bpf): service programming return-path base (End.AS/AD/AM/AN groundwork) (#107)
  api/vinbero/v1/enums.pb.go
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/config/config.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  src/core/srv6.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/dispatch/service_return.c
  src/xdp_main.c
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bpf): allow idempotent same-SID rebind of the proxy return circuit
  docs/loadmap.md
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/server/sid_function.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): implement End.AS static proxy for SR-unaware services
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-as/README.md
  examples/end-as/setup.sh
  examples/end-as/teardown.sh
  examples/end-as/test.sh
  examples/end-as/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): End.AS static proxy (service programming) (#108)
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-as/README.md
  examples/end-as/setup.sh
  examples/end-as/teardown.sh
  examples/end-as/test.sh
  examples/end-as/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): implement End.AD dynamic proxy for SR-unaware services
  .github/workflows/test.yaml
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-ad/README.md
  examples/end-ad/setup.sh
  examples/end-ad/teardown.sh
  examples/end-ad/test.sh
  examples/end-ad/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bpf): fail closed on Ethernet-circuit FIB miss and pin cache publish order
  examples/end-ad/setup.sh
  examples/end-ad/test.sh
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bpf): bound the whole captured header before invalidating the AD cache
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): constant trip counts for the AD cache compare on kernel 6.1
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(bpf): End.AD dynamic proxy (service programming) (#109)
  .github/workflows/test.yaml
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-ad/README.md
  examples/end-ad/setup.sh
  examples/end-ad/teardown.sh
  examples/end-ad/test.sh
  examples/end-ad/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): implement End.AM masquerading proxy for SR-unaware services
  .github/workflows/test.yaml
  docs/loadmap.md
  examples/end-am/README.md
  examples/end-am/setup.sh
  examples/end-am/teardown.sh
  examples/end-am/test.sh
  examples/end-am/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(server): validate END_AM behavior rules before the MAC resolution
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): End.AM masquerading proxy (service programming) (#110)
  .github/workflows/test.yaml
  docs/loadmap.md
  examples/end-am/README.md
  examples/end-am/setup.sh
  examples/end-am/teardown.sh
  examples/end-am/test.sh
  examples/end-am/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(bpf): implement End.AN for SR-aware services
  .github/workflows/test.yaml
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-an/README.md
  examples/end-an/setup.sh
  examples/end-an/teardown.sh
  examples/end-an/test.sh
  examples/end-an/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(server): reject non-printable-ASCII service_name for End.AN
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): End.AN for SR-aware services (service programming) (#111)
  .github/workflows/test.yaml
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  examples/end-an/README.md
  examples/end-an/setup.sh
  examples/end-an/teardown.sh
  examples/end-an/test.sh
  examples/end-an/vinbero_router2.yaml
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bpf): harden service programming from a multi-agent code review
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): strictly reject non-segments-only SRH for End.AD
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): harden service programming (OCR review follow-up) (#112)
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): close proxy circuit lifecycle gaps from the review
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_circuit_test.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): close proxy circuit lifecycle gaps from the review (#113)
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_circuit_test.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): dataplane correctness for the service programming return path
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/core/xdp_prog.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): make the AD cache seqlock multi-writer safe with an atomic claim
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  src/core/xdp_prog.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): service programming return-path dataplane correctness (review follow-up 3) (#114)
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/core/xdp_prog.h
  src/dispatch/service_return.c
  src/endpoint/srv6_endpoint_proxy.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: service programming design doc; feat(cli): sid list proxy columns
  docs/design/ja/configuration.md
  docs/design/ja/service_programming.md
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(cli): cover resolveProxyInnerType and formatProxyInnerType
  pkg/cli/resolve_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs+cli: service programming design doc and sid list proxy columns (#115)
  docs/design/ja/configuration.md
  docs/design/ja/service_programming.md
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/cli/resolve_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(stats): per-slot invocation counters for service-return behaviors
  docs/design/ja/service_programming.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/slotname.go
  pkg/bpf/slotname_test.go
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_plugin.go
  pkg/server/stats.go
  src/core/xdp_stats.h
  src/core/xdp_tailcall_helpers.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(stats): correct svcReturnSlotNames comment
  pkg/bpf/slotname.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(stats): tidy slot-stats comments for accuracy
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(stats): per-slot invocation counters for service-return behaviors (#116)
  docs/design/ja/service_programming.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/slotname.go
  pkg/bpf/slotname_test.go
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_plugin.go
  pkg/server/stats.go
  src/core/xdp_stats.h
  src/core/xdp_tailcall_helpers.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(service-programming): re-derive return-path outer flow label from inner flow
  docs/design/ja/service_programming.md
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/dispatch/service_return.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
