Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

feat(cplane): tick を駆動し end_of_replay を配る
  pkg/bgp/demux/demux.go
  pkg/cplane/delivery.go
  pkg/cplane/example_plugin_test.go
  pkg/cplane/headend_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/testdata/tick.wasm
  pkg/cplane/testdata/tick.wat
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(sdk): TinyGo を conservative GC で使えるようにする
  Makefile
  docs/design/ja/cplane-plugin.md
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/soak_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: snapshot による view 再構築を設計 doc に反映する
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(sdk): control plane plugin の conformance harness を足す
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): restart と drop の後に view を rib から作り直す
  go.mod
  go.sum
  pkg/bgp/demux/claim.go
  pkg/bgp/demux/claim_test.go
  pkg/bgp/demux/demux.go
  pkg/cplane/delivery.go
  pkg/cplane/headend.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): RPC と CLI と daemon の配線を足す
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  cmd/vinberod/main.go
  pkg/cli/cmd_cplane_plugin.go
  pkg/cli/cmd_cplane_plugin_test.go
  pkg/cli/cmd_plugin.go
  pkg/server/cplane_plugin.go
  pkg/server/plugin.go
  pkg/server/server.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(cplane): plugin が local SID を確保して自分の slot に向けられるようにする
  api/vinbero/v1/cplane_plugin.pb.go
  cmd/vinberod/main.go
  pkg/bpf/maps.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  proto/vinbero/v1/cplane_plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(cplane): plugin が経路を advertise できるようにする
  api/vinbero/v1/cplane_plugin.pb.go
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  proto/vinbero/v1/cplane_plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(sdk): example plugin で北極星の一周を実証する
  docs/design/ja/cplane-plugin.md
  pkg/cplane/example_plugin_test.go
  pkg/cplane/manager.go
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): OCR review の残り指摘を片付ける
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/claim.go
  pkg/bgp/gobgp/behavior_test.go
  pkg/config/config.go
  pkg/cplane/advertise.go
  pkg/cplane/delivery_test.go
  pkg/cplane/localsid.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/wasm/host.go
  pkg/cplane/wasm/runtime.go
  pkg/server/cplane_plugin.go
  sdk/README.md
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): codex レビューの指摘 10 件に対応する
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/delivery.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/store.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): Copilot 6 巡目の指摘 3 件に対応する
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/cplane/encode.go
  pkg/cplane/encode_test.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): producer の記録を withdraw 経路すべてで片付ける
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_srpolicy.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): claim を先に届いていた経路にも遡らせる
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/demux.go
  pkg/bgp/demux/demux_test.go
  pkg/cplane/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): capability を宣言制にして host function を選択的に link する
  api/vinbero/v1/plugin.pb.go
  docs/design/ja/cplane-plugin.md
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/example_plugin_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/wasm/admit.go
  pkg/cplane/wasm/capability.go
  pkg/cplane/wasm/capability_test.go
  pkg/cplane/wasm/host.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/runtime_test.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/plugin.proto
  sdk/examples/cplane-custom-behavior/README.md
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(cplane): Copilot レビュー指摘のうち実在する 14 件を直す
  api/vinbero/v1/cplane_plugin.pb.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/delivery.go
  pkg/cplane/example_plugin_test.go
  pkg/cplane/headend.go
  pkg/cplane/lease.go
  pkg/cplane/lease_test.go
  pkg/cplane/localsid.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
  pkg/cplane/wasm/admit.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/runtime_test.go
  pkg/cplane/wasm/testdata/badimport.wasm
  pkg/cplane/wasm/testdata/badimport.wat
  pkg/cplane/wasm/testdata/badinit.wasm
  pkg/cplane/wasm/testdata/badinit.wat
  pkg/cplane/wasm/testdata/spinstart.wasm
  pkg/cplane/wasm/testdata/spinstart.wat
  proto/vinbero/v1/cplane_plugin.proto
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(sdk): control plane plugin の契約を tarball に同梱する
  scripts/sdk_archive_verify.sh
  scripts/stage_sdk.sh
  sdk/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs: staging と snapshot の single-flight と SID sweep を doc に反映する
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

test(interop): 独自 behavior を 2 ノードで通す scenario を足す
  api/vinbero/v1/cplane_plugin.pb.go
  cmd/vinberod/main.go
  examples/interop-clab/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/clab.yml
  examples/interop-clab/scenarios/cplane-plugin-2site/core/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/vinbero.yml
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-tokyo/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-tokyo/vinbero.yml
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/encode.go
  pkg/cplane/example_plugin_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  proto/vinbero/v1/cplane_plugin.proto
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(cplane): harness の restart 通知を daemon に合わせる
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/session.go
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): OCR review の lifecycle と観測性の指摘 6 件に対応する
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  docs/design/ja/cplane-plugin.md
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/stats.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(cplane): Copilot 5 巡目の指摘 3 件に対応する
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): plugin ごとの quota と統計を足す
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/headend.go
  pkg/cplane/headend_test.go
  pkg/cplane/lease.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/quota_test.go
  pkg/cplane/stats.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(cplane): 登録した plugin が daemon 再起動を跨ぐようにする
  cmd/vinberod/main.go
  pkg/bpf/plugin_owner.go
  pkg/bpf/plugin_owner_test.go
  pkg/config/config.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: EVPN と MUP の desired set を足さない理由を書く
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

ci: cplane plugin の artifact drift と interop scenario を CI に載せる
  .github/workflows/interop-clab.yaml
  .github/workflows/test.yaml
  Makefile
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/plugin.wasm
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(cplane): レビュー指摘 8 件を修正する
  pkg/cplane/advertise.go
  pkg/cplane/delivery.go
  pkg/cplane/headend.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/quota_test.go
  pkg/cplane/stats.go
  pkg/cplane/store.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): 広告の producer を記録し、transaction の kind を照合する
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/bgp/gobgp/session.go
  pkg/cplane/ops.go
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): feature branch で育てる進め方を書く
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(cplane): review 指摘の state 漏れと snapshot 増殖を直す
  api/vinbero/v1/cplane_plugin.pb.go
  api/vinbero/v1/plugin.pb.go
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/headend.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/wasm/abi.go
  pkg/cplane/wasm/runtime.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/cplane_plugin.proto
  proto/vinbero/v1/plugin.proto
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/examples/cplane-custom-behavior/wire.go
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(cplane): OCR multi-agent review の blocker 4 件を直す
  cmd/vinberod/main.go
  pkg/cplane/advertise.go
  pkg/cplane/encode.go
  pkg/cplane/encode_test.go
  pkg/cplane/headend_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/quota_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): module が読めない登録の behavior も予約する
  pkg/cplane/manager.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): Copilot 2 巡目の指摘 8 件に対応する
  api/vinbero/v1/cplane_plugin.pb.go
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  pkg/cplane/advertise.go
  pkg/cplane/delivery.go
  pkg/cplane/delivery_test.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
  proto/vinbero/v1/cplane_plugin.proto
  sdk/README.md
  sdk/examples/cplane-custom-behavior/README.md
  sdk/go/cplaneharness/harness.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(cplane): plugin が書ける範囲を scope で絞る
  api/vinbero/v1/cplane_plugin.pb.go
  api/vinbero/v1/plugin.pb.go
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-tokyo/start.sh
  pkg/cli/cmd_cplane_plugin.go
  pkg/cplane/advertise.go
  pkg/cplane/advertise_test.go
  pkg/cplane/example_plugin_test.go
  pkg/cplane/headend.go
  pkg/cplane/localsid.go
  pkg/cplane/manager.go
  pkg/cplane/manager_test.go
  pkg/cplane/ops.go
  pkg/cplane/quota_test.go
  pkg/cplane/scope.go
  pkg/cplane/scope_test.go
  pkg/cplane/stats.go
  pkg/cplane/store.go
  pkg/cplane/store_test.go
  pkg/server/cplane_plugin.go
  proto/vinbero/v1/cplane_plugin.proto
  proto/vinbero/v1/plugin.proto
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/harness_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): vinbero 自身の広告元を producer として分ける
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(test): E2E の XDP action 判定がホストの routing table に依存していた
  pkg/bgp/gobgp/e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(interop): cplane plugin の一周を eBPF half 込みで実機検証する
  docs/design/ja/cplane-plugin.md
  examples/interop-clab/Makefile
  examples/interop-clab/scenarios/cplane-plugin-2site/README.md
  examples/interop-clab/scenarios/cplane-plugin-2site/build.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/clab.yml
  examples/interop-clab/scenarios/cplane-plugin-2site/test.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/start.sh
  examples/interop-clab/scenarios/cplane-plugin-2site/vinbero-osaka/vinbero.yml
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/plugin-custom-behavior/Makefile
  sdk/examples/plugin-custom-behavior/README.md
  sdk/examples/plugin-custom-behavior/plugin.c
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending
