Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

docs(cplane): third round of implementation-accuracy fixes
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): qualify address stability, restore-failure and unregister rows
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): persist-failure outcome depends on the rename stage
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): resolve the address-stability contradiction and the restore double-listing
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): headend prune reads the map in both prune passes
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): fourth claim-invariant exception and two durability bounds
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): scope the opening enforcement claim to what each side gives
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(locator): implement RFC 9800 uSID SID structure and allocation
  pkg/locator/allocator.go
  pkg/locator/allocator_test.go
  pkg/locator/locator.go
  pkg/locator/locator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(cplane): add the state machine, the invariant table and the surface inventory
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(cplane): no public cleanup path for plugin-owned entries, and the direct dead edge
  docs/design/ja/cplane-plugin.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(locator): reject CSID 0 in uSID ParseSID
  pkg/locator/locator.go
  pkg/locator/locator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(proto): update LocatorService description for implemented uSID
  proto/vinbero/v1/locator.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint

docs(proto): state behavior-specific locator constraints
  api/vinbero/v1/locator.pb.go
  proto/vinbero/v1/locator.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(locator): pin uSID locators to the F3216 structure
  api/vinbero/v1/locator.pb.go
  pkg/locator/locator.go
  pkg/locator/locator_test.go
  proto/vinbero/v1/locator.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(locator): keep uSID BGP structure and node CSID consistent
  pkg/locator/locator.go
  pkg/locator/locator_test.go
  pkg/server/mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(locator): cover WireArgumentLen for classic and uSID
  pkg/locator/locator_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): advertise the actual argument length for uSID locators
  pkg/bgp/bgp.go
  pkg/locator/locator.go
  pkg/locator/locator_test.go
  pkg/server/mup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): address uN/uA review findings
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  pkg/server/sid_function.go
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): give uA its own argument offset
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(api): expose uN/uA NEXT-C-SID actions through RPC and vbctl
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  pkg/bpf/maps.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): add uN/uA NEXT-C-SID endpoint behaviors (RFC 9800, F3216)
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_usid_test.go
  src/core/srv6.h
  src/core/xdp_prog.h
  src/dispatch/srv6_dispatch.c
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): uA shifts once per execution instead of looping
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  pkg/server/sid_function_test.go
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): re-dispatch uN shifts that land on another local SID
  api/vinbero/v1/enums.pb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/enums.proto
  src/core/srv6.h
  src/endpoint/srv6_endpoint_usid.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(server): reject the zero node CSID on direct uN/uA registration
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): tighten uA validation
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): stop uN black-holing on an unresolved neighbour
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/srv6_fib.h
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

test(bpf): assert the packet, not just the verdict, on the uSID guards
  pkg/bpf/xdp_usid_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): reserve the uA function CSID in its locator
  pkg/locator/locator_test.go
  pkg/server/mup.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): make the netns example READMEs English-first
  examples/end-ad/README.ja.md
  examples/end-ad/README.md
  examples/end-am/README.ja.md
  examples/end-am/README.md
  examples/end-an/README.ja.md
  examples/end-an/README.md
  examples/end-as/README.ja.md
  examples/end-as/README.md
  examples/end-dt2-p2mp/README.ja.md
  examples/end-dt2/README.ja.md
  examples/end-dt2m-multihomed/README.ja.md
  examples/end-dt2m-multihomed/README.md
  examples/end-dt4/README.ja.md
  examples/end-dt4/README.md
  examples/end-dt6/README.ja.md
  examples/end-dt6/README.md
  examples/end-dx2v/README.ja.md
  examples/end-dx2v/README.md
  examples/end-dx4/README.ja.md
  examples/end-dx4/README.md
  examples/end-dx6/README.ja.md
  examples/end-dx6/README.md
  examples/end-t/README.ja.md
  examples/end-t/README.md
  examples/end-x/README.ja.md
  examples/end-x/README.md
  examples/end/README.ja.md
  examples/end/README.md
  examples/gtp4-encap/README.ja.md
  examples/gtp4-encap/README.md
  examples/gtp6-drop-in/README.ja.md
  examples/gtp6-drop-in/README.md
  examples/gtp6-encap/README.ja.md
  examples/gtp6-encap/README.md
  examples/headend-l2/README.ja.md
  examples/headend-l2/README.md
  examples/headend-v4/README.ja.md
  examples/headend-v4/README.md
  examples/headend-v6/README.ja.md
  examples/headend-v6/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): point the multihoming file list at its own language
  examples/end-dt2m-multihomed/README.ja.md
  examples/end-dt2m-multihomed/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): name the binary the netns End.AN example actually uses
  examples/end-an/README.ja.md
  examples/end-an/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bpf): keep the no-SRH re-dispatch inside the dispatcher's own rules
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): release only the locator claim the deleted SID owns
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): complete the P2MP manual return-path configuration
  examples/end-dt2-p2mp/README.ja.md
  examples/end-dt2-p2mp/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(server): hand back the CSID when a uA is replaced by another action
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_usid_test.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  src/endpoint/srv6_endpoint_usid.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(examples): make the manual walkthroughs match what test.sh runs
  examples/end-dt2m-multihomed/README.ja.md
  examples/end-dt2m-multihomed/README.md
  examples/end-dx2v/README.ja.md
  examples/end-dx2v/README.md
  examples/end-dx4/README.ja.md
  examples/end-dx6/README.ja.md
  examples/headend-l2/README.ja.md
  examples/headend-l2/README.md
  examples/headend-v4/README.ja.md
  examples/headend-v6/README.ja.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(server): decide the CSID release by who owns the claim
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): claim the uA CSID from the enclosing uSID locator
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(server): reconcile uA claims on locator create, and fail loud on lookup errors
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bpf): keep the builtin aux lifecycle tied to the exact SID entry
  pkg/bpf/aux_lifecycle_test.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint
