Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

fix(cplane): prune revoked capabilities on plugin replacement
  docs/design/ja/cplane-plugin.md
  pkg/cplane/example_plugin_test.go
  pkg/cplane/manager.go
  pkg/cplane/ops.go
  pkg/cplane/scope_test.go
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplane/README.md
  sdk/go/cplaneharness/sdk_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): retry until SID allocation notifications arrive
  pkg/cplane/example_plugin_test.go
  pkg/cplane/manager.go
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplane/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): withdraw advertisements before pruning local SIDs
  docs/design/ja/cplane-plugin.md
  pkg/cplane/localsid.go
  pkg/cplane/ops.go
  pkg/cplane/scope_test.go
  sdk/examples/cplane-custom-behavior/README.md
  sdk/go/cplane/README.md
  sdk/go/cplaneharness/harness.go
  sdk/go/cplaneharness/sdk_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): preserve SID dependencies through staged updates
  docs/design/ja/cplane-plugin.md
  pkg/cplane/localsid.go
  pkg/cplane/ops.go
  pkg/cplane/sid_dependencies_test.go
  sdk/go/cplane/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): default guest SDK to standard Go WASI reactors
  .github/workflows/test.yaml
  Makefile
  docs/design/ja/cplane-plugin.md
  pkg/cplane/example_plugin_test.go
  pkg/cplane/wasm/abi.go
  pkg/cplane/wasm/admit.go
  pkg/cplane/wasm/runtime.go
  pkg/cplane/wasm/runtime_test.go
  pkg/cplane/wasm/testdata/badwasisig.wasm
  pkg/cplane/wasm/testdata/badwasisig.wat
  pkg/cplane/wasm/testdata/foreignmodule.wasm
  pkg/cplane/wasm/testdata/foreignmodule.wat
  pkg/cplane/wasm/testdata/unknownwasi.wasm
  pkg/cplane/wasm/testdata/unknownwasi.wat
  sdk/README.md
  sdk/examples/cplane-custom-behavior/.gitignore
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplane/README.md
  sdk/go/cplane/guest/doc.go
  sdk/go/cplane/guest/guest.go
  sdk/go/cplane/guest/guest_test.go
  sdk/go/cplane/guest/testdata/standard_go.go
  sdk/go/cplane/types.go
  sdk/go/cplane/wire/wire.go
  sdk/go/cplaneharness/harness_test.go
  sdk/go/cplaneharness/soak_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(cplane): stop retries for unavailable sender kinds
  sdk/examples/cplane-custom-behavior/README.md
  sdk/examples/cplane-custom-behavior/main.go
  sdk/examples/cplane-custom-behavior/plugin.wasm
  sdk/go/cplaneharness/sdk_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): avoid simultaneous BGP opens in two-site labs
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/vinbero.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/pe-osaka/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(bgp): separate VPN selection from application
  docs/design/ja/cplane-plugin.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/vpn_select.go
  pkg/bgp/apply/vpn_selection_test.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): retain VPN groups until trigger cleanup succeeds
  docs/design/ja/ecmp.md
  pkg/bgp/apply/vpn_retirement_test.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(bgp): separate built-in delivery transitions from callbacks
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_state.go
  pkg/bgp/demux/builtin_state_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(cplane): persist local SID identities across restarts
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  docs/design/ja/persistence.md
  pkg/bpf/bpf.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_persistent.go
  pkg/cplane/manager.go
  pkg/cplane/manager_inventory.go
  pkg/cplane/ops.go
  pkg/cplane/sid_inventory.go
  pkg/cplane/sid_inventory_test.go
  pkg/cplane/store.go
  pkg/locator/manager.go
  pkg/locator/reservation.go
  pkg/locator/reservation_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): reject incomplete SID inventory snapshots
  pkg/cplane/sid_inventory.go
  pkg/cplane/sid_inventory_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): recover interrupted SID initialization and cleanup
  docs/design/ja/cplane-plugin.md
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/cplane/sid_inventory.go
  pkg/cplane/sid_inventory_test.go
  pkg/cplane/store.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(cplane): avoid duplicate SID scans during recovery
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_persistent.go
  pkg/cplane/localsid_test.go
  pkg/cplane/sid_inventory_test.go
  pkg/locator/manager.go
  pkg/locator/reservation_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bench): measure BGP convergence through cplane plugins
  .github/workflows/bench-convergence.yaml
  .gitignore
  Makefile
  bench/README.md
  bench/rq1/analyze_test.go
  bench/rq1/cmd/rq1bgp/main.go
  bench/rq1/cmd/rq1bgp/main_test.go
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/cmd/rq1relay/main.go
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/topo/check.py
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/teardown.sh
  bench/rq1/topo/test_check.py
  bench/rq1/topo/test_lifecycle.py
  bench/rq1/topo/vinbero-bgp.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bench): snapshot the convergence driver before measuring
  bench/README.md
  bench/rq1/topo/run_bgp.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): reject receiver and relay failures during trials
  .github/workflows/bench-convergence.yaml
  bench/README.md
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/cmd/rq1probe/main_test.go
  bench/rq1/cmd/rq1relay/main.go
  bench/rq1/cmd/rq1relay/worker.go
  bench/rq1/cmd/rq1relay/worker_test.go
  bench/rq1/probe.go
  bench/rq1/timestamp_test.go
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/teardown.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bench): validate capture input and isolate privileged output
  .github/workflows/bench-convergence.yaml
  bench/README.md
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/cmd/rq1probe/main_test.go
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/timestamp_test.go
  bench/rq1/topo/run_bgp.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

docs(bench): explain access to private measurement artifacts
  bench/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bench): report cleanup failures and package private artifacts
  .github/workflows/bench-convergence.yaml
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/teardown.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bench): reject overflowing trial counts
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): validate output parents and require neighbor warm-up
  bench/README.md
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): avoid refreshing the Git index as root
  bench/rq1/topo/run_bgp.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): snapshot executables and close signal cleanup gaps
  bench/README.md
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): join receivers before closing sockets and reserve artifacts
  bench/README.md
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/receiver_lifecycle_test.go
  bench/rq1/topo/run_bgp.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bench): declare ping dependencies and clarify capture metrics
  .github/workflows/bench-convergence.yaml
  bench/README.md
  bench/rq1/probe.go
  bench/rq1/topo/run_bgp.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

fix(bench): protect namespace ownership and create veths inside it
  bench/rq1/topo/setup.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bench): track partial topology ownership and bound probe sending
  bench/README.md
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/teardown.sh
  bench/rq1/topo/test_lifecycle.py
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bench): support IPv4-mapped probe addresses
  bench/rq1/probe.go
  bench/rq1/timestamp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bench): observe first arrivals and reject unresolved sampling
  bench/README.md
  bench/rq1/analyze_test.go
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/cmd/rq1probe/main_test.go
  bench/rq1/probe.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bench): measure BGP convergence through cplane plugins (#179)
  .github/workflows/bench-convergence.yaml
  .gitignore
  Makefile
  bench/README.md
  bench/rq1/analyze_test.go
  bench/rq1/cmd/rq1bgp/main.go
  bench/rq1/cmd/rq1bgp/main_test.go
  bench/rq1/cmd/rq1probe/main.go
  bench/rq1/cmd/rq1probe/main_test.go
  bench/rq1/cmd/rq1relay/main.go
  bench/rq1/cmd/rq1relay/worker.go
  bench/rq1/cmd/rq1relay/worker_test.go
  bench/rq1/probe.go
  bench/rq1/probe_test.go
  bench/rq1/receiver_lifecycle_test.go
  bench/rq1/timestamp_test.go
  bench/rq1/topo/check.py
  bench/rq1/topo/run_bgp.sh
  bench/rq1/topo/setup.sh
  bench/rq1/topo/teardown.sh
  bench/rq1/topo/test_check.py
  bench/rq1/topo/test_lifecycle.py
  bench/rq1/topo/vinbero-bgp.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

feat(cplane): persist local SID identities across restarts (#178)
  cmd/vinberod/main.go
  docs/design/ja/cplane-plugin.md
  docs/design/ja/persistence.md
  pkg/bpf/bpf.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/cplane/localsid.go
  pkg/cplane/localsid_persistent.go
  pkg/cplane/localsid_test.go
  pkg/cplane/manager.go
  pkg/cplane/manager_inventory.go
  pkg/cplane/ops.go
  pkg/cplane/sid_inventory.go
  pkg/cplane/sid_inventory_test.go
  pkg/cplane/store.go
  pkg/locator/manager.go
  pkg/locator/reservation.go
  pkg/locator/reservation_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(bgp): separate built-in delivery transitions from callbacks (#177)
  docs/design/ja/cplane-plugin.md
  pkg/bgp/demux/builtin.go
  pkg/bgp/demux/builtin_state.go
  pkg/bgp/demux/builtin_state_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): retain VPN groups until trigger cleanup succeeds (#176)
  docs/design/ja/ecmp.md
  pkg/bgp/apply/vpn_retirement_test.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(bgp): separate VPN selection from application (#175)
  docs/design/ja/cplane-plugin.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/vpn_select.go
  pkg/bgp/apply/vpn_selection_test.go
  pkg/bgp/apply/vpngroup.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): End.T with REPLACE-CSID (RFC 9800 Sec.4.2, VRF-bound FIB)
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-t-replace/README.ja.md
  examples/end-t-replace/README.md
  examples/end-t-replace/setup.sh
  examples/end-t-replace/teardown.sh
  examples/end-t-replace/test.sh
  examples/end-t-replace/vinbero_router2.yaml
  examples/end-t-replace/vinbero_router3.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_treplace_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/endpoint/srv6_endpoint_replace.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bpf): End.T with REPLACE-CSID (RFC 9800 Sec.4.2, VRF-bound FIB) (#180)
  .github/workflows/test.yaml
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  examples/README.md
  examples/end-t-replace/README.ja.md
  examples/end-t-replace/README.md
  examples/end-t-replace/setup.sh
  examples/end-t-replace/teardown.sh
  examples/end-t-replace/test.sh
  examples/end-t-replace/vinbero_router2.yaml
  examples/end-t-replace/vinbero_router3.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_treplace_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/endpoint/srv6_endpoint_replace.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(server): mint uSID SID functions from a locator_ref
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/usid.md
  docs/loadmap.md
  pkg/cli/cmd_sid.go
  pkg/locator/manager.go
  pkg/locator/manager_test.go
  pkg/server/locator.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_locator_ref_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bpf): make bd_peer lifecycle transactional across its writers
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/bdpeer_delete_recovery_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_alias.go
  pkg/bpf/esi_map_test.go
  pkg/bpf/maps.go
  pkg/server/bd_peer.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
