Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

chore(interop-clab): keep proprietary MUP interop assets out of the public repo
  .gitignore
  README.md
  examples/interop-clab/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(interop-clab): correct provision hook guard + comment
  examples/interop-clab/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore(interop-clab): keep proprietary MUP interop assets out of the public repo (#92)
  .gitignore
  README.md
  examples/interop-clab/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

chore(interop-clab): neutral overlay paths in .gitignore
  .gitignore
Due: none

chore(interop-clab): neutral overlay paths in .gitignore (#93)
  .gitignore
Due: none

feat(xdp): ingress VRF front door + opt-in global default-deny (P1)
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinberod/main.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_ingress_vrf.go
  pkg/config/config.go
  pkg/ingressvrf/manager.go
  pkg/ingressvrf/manager_test.go
  pkg/server/ingress_vrf.go
  pkg/server/server.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall.h
  src/core/xdp_tailcall_helpers.h
  src/xdp_main.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor(vrf): simplify VrfServer rendering and fix stale comments
  cmd/vinberod/main.go
  pkg/bpf/maps.go
  pkg/server/vrf.go
  pkg/vrf/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): address Copilot review — Bind race, duplicate AC, VLAN range
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): share ingress_vrf_map / ingress_policy_map with plugins (RO)
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): copy returned ACs, resolve outside the lock, validate AcRemove input
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): roll back the in-memory mutation when a VrfService reconcile fails
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  src/core/xdp_map.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): surface rollback failures in reconcileOrRollback
  pkg/server/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): surface the post-rollback re-reconcile error too
  pkg/server/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): roll back only the change a VrfService call actually made
  cmd/vinberod/main.go
  pkg/server/vrf.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(vrf): reserved "global" VRF name to map ACs to the underlay (vrf_id 0)
  docs/design/ja/forwarding_model.md
  pkg/cli/cmd_vrf.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): serialize VrfService mutations; rename stale "instance" vocabulary
  pkg/bgp/apply/mup.go
  pkg/bpf/xdp_test.go
  pkg/server/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(vrf): absorb the kernel-VRF device lifecycle into the VRF object
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinberod/main.go
  docs/design/ja/forwarding_model.md
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
  pkg/cli/cmd_resource.go
  pkg/cli/cmd_vrf.go
  pkg/config/config.go
  pkg/netresource/vrf.go
  pkg/server/network_resource.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(netresource): install a real FRA_L3MDEV rule; add netns tests; convert l3vpn-2site to vbctl vrf create
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/start.sh
  pkg/netresource/vrf.go
  pkg/netresource/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(vrf): review fixes — delete type check, adopt LinkSetUp, output cleanup
  cmd/vinberod/main.go
  pkg/cli/cmd_vrf.go
  pkg/netresource/vrf.go
  pkg/server/vrf.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): merge adopt into the state entry; robust CLI members parsing
  pkg/cli/cmd_vrf.go
  pkg/netresource/vrf.go
  pkg/netresource/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vrf): fail closed when the SID reference check cannot read an aux
  pkg/server/vrf.go
  pkg/server/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

ci(test): load the vrf kernel module for unit tests; skip when unavailable
  .github/workflows/test.yaml
  pkg/netresource/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

docs(vrf): add the VRF object design doc; align existing docs with VrfService
  docs/design/ja/api_sequence.md
  docs/design/ja/configuration.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/forwarding_model.md
  docs/design/ja/getting_started.md
  docs/design/ja/vrf.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(vrf): absorb the kernel-VRF device lifecycle into the VRF object (#95)
  .github/workflows/test.yaml
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinberod/main.go
  docs/design/ja/api_sequence.md
  docs/design/ja/configuration.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/forwarding_model.md
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/start.sh
  pkg/cli/cmd_resource.go
  pkg/cli/cmd_vrf.go
  pkg/config/config.go
  pkg/netresource/vrf.go
  pkg/netresource/vrf_test.go
  pkg/server/network_resource.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(netresource): harden the bridge lifecycle and record the owning VRF
  pkg/netresource/bridge.go
  pkg/netresource/manager.go
  pkg/netresource/manager_test.go
  pkg/netresource/state.go
  pkg/netresource/vrf_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(proto): fold the bridge into VrfService; drop NetworkResourceService
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(vrf): add the L2 bridge-domain facet to the VRF object
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(server): VrfBridgeAttach/Detach handlers; delete the bridge RPC surface
  pkg/server/bd_peer.go
  pkg/server/evpn_coordinator.go
  pkg/server/fdb.go
  pkg/server/network_resource.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(vrf): boot seeding, config and CLI for the bridge facet
  cmd/vinberod/main.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_resource.go
  pkg/cli/cmd_vrf.go
  pkg/config/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(vrf): document the bridge facet; convert evpn-2site to vrf bridge-attach
  README.md
  docs/design/ja/api_sequence.md
  docs/design/ja/bridge_domain.md
  docs/design/ja/configuration.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(vrf): close the review findings — shared mutation mutex, boot cross-check, boot EVPN enable
  cmd/vinberod/main.go
  pkg/bgp/export/evpn.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

chore: ignore the vinberod build artifact
  .gitignore
Due: none

docs: fix stale bridge-list reference, clarify L3 vs L2 VRF example
  README.md
  docs/design/ja/persistence.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: purge remaining bridge-command references from getting_started
  docs/design/ja/getting_started.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(proto): note EVPN exporter-owned SID exclusion in VrfBridgeDetach contract
  api/vinbero/v1/vinbero.pb.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(vrf): absorb the EVPN bridge-domain lifecycle into the VRF object (#97)
  .gitignore
  README.md
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  cmd/vinberod/main.go
  docs/design/ja/api_sequence.md
  docs/design/ja/bridge_domain.md
  docs/design/ja/configuration.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
  docs/design/ja/vrf.md
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  pkg/bgp/export/evpn.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_resource.go
  pkg/cli/cmd_vrf.go
  pkg/config/config.go
  pkg/netresource/bridge.go
  pkg/netresource/manager.go
  pkg/netresource/manager_test.go
  pkg/netresource/state.go
  pkg/netresource/vrf_test.go
  pkg/server/bd_peer.go
  pkg/server/evpn_coordinator.go
  pkg/server/fdb.go
  pkg/server/network_resource.go
  pkg/server/server.go
  pkg/server/vrf.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/server/vrf_test.go
  pkg/vrf/manager.go
  pkg/vrf/manager_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

chore: anchor the vinberod ignore to the repo root
  .gitignore
Due: none

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
