Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

feat: plugin SDK v2 — BTF validation, plugin aux payload, SID entry slim-down
  .gitignore
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/api_sequence.md
  docs/design/ja/fdb_vrf.md
  docs/design/ja/plugin-sdk.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_btf.go
  pkg/bpf/plugin_validate_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/server/network_resource.go
  pkg/server/sid_function.go
  proto/vinbero/v1/vinbero.proto
  sdk/c/include/vinbero/helpers.h
  sdk/c/include/vinbero/types.h
  src/core/xdp_prog.h
  src/core/xdp_tailcall_macros.h
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/tailcall_endpoint.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: plugin aux as JSON via BTF (plus prefix-ACL example)
  api/vinbero/v1/vinbero.pb.go
  pkg/cli/cmd_sid.go
  pkg/server/plugin.go
  pkg/server/plugin_aux_encode.go
  pkg/server/plugin_aux_encode_test.go
  pkg/server/server.go
  pkg/server/sid_function.go
  proto/vinbero/v1/vinbero.proto
  sdk/c/include/vinbero/plugin.h
  sdk/c/include/vinbero/types.h
  sdk/examples/plugin-acl-prefix/Makefile
  sdk/examples/plugin-acl-prefix/README.md
  sdk/examples/plugin-acl-prefix/plugin.c
  sdk/examples/plugin-acl-prefix/setup.sh
  sdk/examples/plugin-acl-prefix/teardown.sh
  sdk/examples/plugin-acl-prefix/test.sh
  sdk/examples/plugin-acl-prefix/vinbero_config.yaml
  sdk/examples/plugin-counter/plugin.c
  sdk/examples/plugin-counter/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

docs: document plugin_aux_json and the new typedef vocabulary
  docs/design/ja/plugin-sdk.md
  sdk/README.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: switch getting_started to the vinbero CLI
  docs/design/ja/getting_started.md
Due: check-executables-have-shebangs, mixed-line-ending

docs: add vinbero.yml reference and persistence guide
  docs/design/ja/configuration.md
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
Due: check-executables-have-shebangs, mixed-line-ending

feat: optional BPF map pinning for stateful restarts
  docs/design/ja/configuration.md
  docs/design/ja/persistence.md
  pkg/bpf/bpf.go
  pkg/config/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add Flush RPCs and vinbero CLI flush subcommands
  api/vinbero/v1/vinbero.pb.go
  docs/design/ja/getting_started.md
  docs/design/ja/persistence.md
  pkg/bpf/maps.go
  pkg/cli/cmd_bdpeer.go
  pkg/cli/cmd_fdb.go
  pkg/cli/cmd_headend.go
  pkg/cli/cmd_sid.go
  pkg/cli/cmd_vlan_table.go
  pkg/server/bd_peer.go
  pkg/server/fdb.go
  pkg/server/headendl2.go
  pkg/server/headendv4.go
  pkg/server/headendv6.go
  pkg/server/sid_function.go
  pkg/server/vlan_table.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

docs: refresh README for flush / pin_maps / plugin / stats / vt
  README.md
Due: none

test: add pin_maps roundtrip and SID flush regression tests
  pkg/bpf/maps_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: drop dead --yes re-check in CLI flush subcommands
  pkg/cli/cmd_bdpeer.go
  pkg/cli/cmd_fdb.go
  pkg/cli/cmd_headend.go
  pkg/cli/cmd_sid.go
  pkg/cli/cmd_vlan_table.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: api_sequence — plugin_aux_json, Flush RPCs, pin_maps reconcile
  docs/design/ja/api_sequence.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: regenerate gRPC and Connect stubs for Flush RPCs
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: address Copilot review findings on aux encoder and aux_index width
  pkg/bpf/maps.go
  pkg/server/plugin_aux_encode.go
  pkg/server/plugin_aux_encode_test.go
  sdk/README.md
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test: pcap-based loopback assertion + split-horizon microbenchmark
  examples/end-dt2m-multihomed/test.sh
  pkg/bpf/split_horizon_bench_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: consolidate BPF test helper for tests and benchmarks
  examples/end-dt2m-multihomed/test.sh
  pkg/bpf/split_horizon_bench_test.go
  pkg/bpf/xdp_test_helpers_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(example): translate end-dt2m-multihomed README to Japanese and switch topology to mermaid
  examples/end-dt2m-multihomed/README.md
Due: check-executables-have-shebangs, mixed-line-ending

chore: update txt
  README.md
Due: none

feat(plugin): split shared maps into RO/RW + add PluginList RPC
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_validate_btf.go
  pkg/cli/cmd_plugin.go
  pkg/server/plugin.go
  pkg/server/plugin_test.go
  proto/vinbero/v1/plugin.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(plugin): typed aux lifecycle API with owner tags
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  pkg/bpf/maps.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/cli/cmd_sid.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  pkg/server/sid_function.go
  proto/vinbero/v1/plugin.proto
  proto/vinbero/v1/vinbero.proto
  sdk/examples/plugin-counter/test.sh
  sdk/go/plugin/aux.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(plugin): close TOCTOU in PluginAux map ops
  pkg/bpf/maps.go
  pkg/server/plugin_aux.go
  pkg/server/sid_function.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: document plugin SDK Phase 1c/1d
  docs/design/ja/persistence.md
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  sdk/README.md
Due: check-executables-have-shebangs, mixed-line-ending

fix(bpf): make src/core/srv6.h self-sufficient by including linux/in6.h
  src/core/srv6.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bpf): make src/core/srv6.h self-sufficient by including linux/in6.h (#27)
  src/core/srv6.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(plugin): close DeleteSidFunction TOCTOU + tighten action validation
  api/vinbero/v1/plugin.pb.go
  docs/design/ja/api_sequence.md
  docs/design/ja/persistence.md
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/cli/cmd_sid.go
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  pkg/server/server.go
  pkg/server/sid_function.go
  proto/vinbero/v1/plugin.proto
  sdk/examples/plugin-counter/test.sh
  sdk/go/plugin/aux.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(plugin): cover TOCTOU close, validator BTF, and 3-way exclusivity
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate_test.go
  pkg/server/sid_function_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(plugin): apply remaining PR #23 review suggestions
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: plugin SDK Phase 1c/1d — map classification + typed aux lifecycle (#23)
  README.md
  api/vinbero/v1/plugin.pb.go
  api/vinbero/v1/plugin_grpc.pb.go
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinberov1connect/plugin.connect.go
  docs/design/ja/api_sequence.md
  docs/design/ja/persistence.md
  docs/design/ja/plugin-sdk.md
  docs/dev/plugin-sdk-implementation.md
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/plugin_aux_alloc_test.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_btf.go
  pkg/bpf/plugin_validate_test.go
  pkg/cli/cmd_plugin.go
  pkg/cli/cmd_sid.go
  pkg/server/plugin.go
  pkg/server/plugin_aux.go
  pkg/server/plugin_aux_test.go
  pkg/server/plugin_test.go
  pkg/server/server.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/plugin.proto
  proto/vinbero/v1/vinbero.proto
  sdk/README.md
  sdk/examples/plugin-counter/test.sh
  sdk/go/plugin/aux.go
  sdk/go/plugin/doc.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(sdk): publish a goreleaser tarball alongside the binaries
  .goreleaser.yaml
  Makefile
  scripts/sdk_archive_verify.sh
  sdk/README.md
  sdk/examples/plugin-counter/Makefile
  sdk/examples/simple-acl/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending
