Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-executables-have-shebangs:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if [ -x "$file" ] && [ -f "$file" ] && ! grep -q '^#!' "$file"; then
            echo "Executable without shebang: $file"
            exit 1
          fi
        done

    trailing-whitespace:
      glob: "**/*"
      exclude:
        - "*.md"
        - "*.patch"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          if grep -q '[[:space:]]$' "$file"; then
            sed -i 's/[[:space:]]*$//' "$file"
            echo "Fixed trailing whitespace in: $file"
          fi
        done

    yamllint:
      glob: "**/*.{yml,yaml}"
      run: yamllint -f colored {staged_files}

    check-json:
      glob: "**/*.json"
      exclude:
        - ".vscode/**.json"
      run: |
        failed=0
        for f in {staged_files}; do
          if ! jq -e empty "$f" >/dev/null 2>&1; then
            echo "JSON parse error in $f"
            jq empty "$f"
            failed=1
          fi
        done
        exit $failed

    check-toml:
      glob: "**/*.toml"
      run: taplo check {staged_files}

    mixed-line-ending:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          # Skip non-text files
          if ! file --mime-type "$file" | grep -q "text/"; then
            continue
          fi
          dos2unix -q "$file"
        done

    buf-format:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf format -w "$BUF_ROOT" $ARGS

    buf-lint:
      glob: "**/*.proto"
      run: |
        BUF_ROOT=./proto
        ARGS=""
        for f in {staged_files}; do
          [ -f "$f" ] || continue
          ARGS="$ARGS --path $f"
        done
        [ -n "$ARGS" ] && buf lint "$BUF_ROOT" $ARGS

    golangci-lint:
      glob: "**/*.go"
      run: golangci-lint run --fix

    ansible-lint:
      glob: "{scripts/share_server,ansible}/**/*.{yml,yaml}"
      run: ansible-lint --fix -x role-name {staged_files}

commit-msg:
  commands:
    conventional-check:
      run: |
        if ! grep -qE '^(hotfix|feat|fix|docs|style|refactor|perf|test|chore|ci)((\([^\)]*\))|)!?:\s+' {1}; then
          echo "Commit message must be conventional"
          echo "Format: <type>(<scope>): <description>"
          exit 1
        fi

post-checkout:
  commands:
    first-commit:
      run: |
        previous_head={1}
        new_head={2}
        branch_flag={3}
        if [ "$branch_flag" != "1" ] || [ "$previous_head" != "$new_head" ]; then
          exit 0
        fi
        current_branch=$(git branch --show-current)
        lock_path=$(git rev-parse --git-path index.lock)
        i=0
        while [ -e "$lock_path" ] && [ $i -lt 50 ]; do
          sleep 0.1
          i=$((i+1))
        done
        LEFTHOOK=0 git commit --allow-empty -m "first commit for $current_branch"

# Colors and output
colors: true

feat(endpoint): End.M.GTP4.E v4src position extraction (RFC 9433 §6.6)
  api/vinbero/v1/mup.pb.go
  api/vinbero/v1/vinbero.pb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  pkg/server/sid_function_test.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/endpoint/srv6_gtp_encap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(interop-clab/mup-2site): close the §6.6 chain with GW-side extraction
  docs/design/ja/srv6_bgp.md
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat(bgp/mup): uplink service instances — per-binding F-TEID scoping by access interface
  api/vinbero/v1/vrf_bgp.pb.go
  cmd/vinberod/main.go
  docs/design/ja/srv6_bgp.md
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/mup_uplink_key_test.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/vrf_bgp.proto
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bgp/mup): resolve duplicate uplink-interface claims deterministically
  pkg/bgp/apply/mup.go
  pkg/vrfbgp/manager_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor(server): rename MupSrcReconciler to MupBindingReconciler
  pkg/server/server.go
  pkg/server/vrf_bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp/mup): abort the session re-key when the instance map write fails
  pkg/bgp/apply/mup.go
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp/mup): deterministic import match + reconcile only on MUP-relevant mutations
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

perf(bgp/mup): allocation-free deterministic match + O(1) instance checks
  pkg/server/vrf_bgp.go
  pkg/vrfbgp/manager.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop-clab): mup-2site-multivrf — two VPNs share one N3 endpoint + TEID
  .github/workflows/interop-clab.yaml
  docs/design/ja/srv6_bgp.md
  examples/interop-clab/scenarios/mup-2site-multivrf/README.ja.md
  examples/interop-clab/scenarios/mup-2site-multivrf/README.md
  examples/interop-clab/scenarios/mup-2site-multivrf/clab.yml
  examples/interop-clab/scenarios/mup-2site-multivrf/core/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/dn/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/gnb/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-c/vinbero.yml
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-gw/vinbero.yml
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-pe/vinbero.yml
  examples/interop-clab/scenarios/mup-2site-multivrf/send_gtpu.py
  examples/interop-clab/scenarios/mup-2site-multivrf/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

chore(interop-clab/mup-2site-multivrf): align script exec bits with the other scenarios
  examples/interop-clab/scenarios/mup-2site-multivrf/dn/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/gnb/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-c/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site-multivrf/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(bgp/mup): make-before-break instance map rewrite, serialized with applies
  pkg/bgp/apply/mup.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp/mup): roll the instance map back to its snapshot on a partial failure
  pkg/bgp/apply/mup.go
  pkg/bpf/maps.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp/mup): move re-keyed F-TEID entries without churning the shared gate
  pkg/bgp/apply/mup.go
  pkg/bgp/apply/mup_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(bpf): update stale F-TEID key comments for the instance field
  src/core/xdp_prog.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(interop-clab/mup-2site): per-advertiser RDs, import-RT filter, RFC 9433 §6.6 source embed (#87)
  docs/design/ja/srv6_bgp.md
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-gw/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/start.sh
  examples/interop-clab/scenarios/mup-2site/mup-pe/vinbero.yml
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(bpf/mup): align Args.Mob.Session with RFC 9433 §6.1 byte order
  pkg/bgp/apply/mup_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_mup.go
  pkg/bgp/gobgp/advertise_mup_test.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/gtp_args.go
  pkg/bpf/gtp_args_test.go
  pkg/bpf/xdp_test.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  src/core/srv6_gtp.h
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(interop-clab/mup-2site): per-advertiser RDs, import-RT filter, RFC 9433 §6.6 source embed
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-pe/vinbero.yml
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

docs(srv6-bgp): catch the MUP section up to RT-scoped resolution + per-VRF source embed
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

refactor(interop-clab/mup-2site): create the PE's MUP binding via vbctl instead of YAML
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/README.md
  examples/interop-clab/scenarios/mup-2site/mup-pe/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(bpf/mup): align Args.Mob.Session with RFC 9433 §6.1 byte order (#91)
  pkg/bgp/apply/mup_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_mup.go
  pkg/bgp/gobgp/advertise_mup_test.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/gtp_args.go
  pkg/bpf/gtp_args_test.go
  pkg/bpf/xdp_test.go
  pkg/server/mup.go
  pkg/server/mup_test.go
  src/core/srv6_gtp.h
  src/endpoint/srv6_gtp_encap.h
  src/endpoint/srv6_gtp_endpoint.h
  src/headend/srv6_gtp6_headend.h
  src/headend/srv6_gtp_headend.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(interop-clab/mup-2site): tighten test asserts per review
  examples/interop-clab/scenarios/mup-2site/README.ja.md
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(interop-clab/mup-2site): scope the embed assert to the UE row, variable-ize the gNB IP
  examples/interop-clab/scenarios/mup-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

docs(srv6-bgp): distinguish the §6.6 extracting receiver from Vinbero's End.M.GTP4.E
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending
