Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat: SRv6 L3VPN interop lab (containerlab) + RFC 9252 SID transposition fix (#40)
  .github/workflows/interop-clab.yaml
  examples/interop-clab/Makefile
  examples/interop-clab/README.md
  examples/interop-clab/images/frr/Dockerfile
  examples/interop-clab/images/frr/daemons
  examples/interop-clab/images/vinbero/Dockerfile
  examples/interop-clab/scenarios/l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site/README.md
  examples/interop-clab/scenarios/l3vpn-2site/clab.yml
  examples/interop-clab/scenarios/l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/frr/frr.conf
  examples/interop-clab/scenarios/l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/test.sh
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/vinbero.yml
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_test.go
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, golangci-lint

refactor(ci): drop the modprobe-first guard in the vrf step
  .github/workflows/interop-clab.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(bgp): SR Policy data model for Phase 1e-c
  pkg/bgp/bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/gobgp): decode received SR Policy (SAFI 73)
  pkg/bgp/gobgp/decode_srpolicy.go
  pkg/bgp/gobgp/decode_srpolicy_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/gobgp): extract Color Extended Community from VPN routes
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp/apply): SR Policy state machine (best-path + policy_id)
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): SR Policy data plane — color steering via sr_policy_map
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
  pkg/bgp/gobgp/e2e_test.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_srpolicy_test.go
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/headend/srv6_encaps.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(server,cli): SrPolicyService CRUD + vbctl sr-policy
  api/vinbero/v1/sr_policy.pb.go
  api/vinbero/v1/sr_policy_grpc.pb.go
  api/vinbero/v1/vinberov1connect/sr_policy.connect.go
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/srpolicy.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_srpolicy.go
  pkg/server/server.go
  pkg/server/srpolicy.go
  pkg/server/srpolicy_test.go
  proto/vinbero/v1/sr_policy.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor(sr-policy): address code review
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode_srpolicy.go
  pkg/bgp/gobgp/decode_srpolicy_test.go
  pkg/bgp/gobgp/e2e_test.go
  pkg/bpf/maps.go
  pkg/cli/cmd_srpolicy.go
  pkg/cli/cmd_vrf_bgp.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): sr-policy-2site color-steering scenario + CI matrix
  .github/workflows/interop-clab.yaml
  examples/interop-clab/scenarios/sr-policy-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-2site/README.md
  examples/interop-clab/scenarios/sr-policy-2site/clab.yml
  examples/interop-clab/scenarios/sr-policy-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/frr/frr.conf
  examples/interop-clab/scenarios/sr-policy-2site/frr/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-2site/vinbero/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(sr-policy): address OCR review findings
  pkg/bgp/apply/applier_test.go
  pkg/bgp/gobgp/decode_srpolicy.go
  pkg/bgp/gobgp/decode_srpolicy_test.go
  pkg/cli/cmd_srpolicy.go
  pkg/server/srpolicy.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bpf): pin sid_aux union ABI at 256 + widen policy_id to u32
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/plugin_validate.go
  pkg/bpf/plugin_validate_test.go
  pkg/bpf/xdp_srpolicy_test.go
  pkg/server/srpolicy.go
  src/core/xdp_prog.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(sr-policy): reference-count policy_ids and reclaim them on churn
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(gobgp): on-wire netns test for SR Policy compose via real redirect
  pkg/bgp/gobgp/netns_e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): advertise local SR Policy into BGP (SAFI 73)
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise_srpolicy.go
  pkg/bgp/gobgp/advertise_srpolicy_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  pkg/server/server.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(interop): multi-hop SR Policy service chain + advertise smoke
  examples/interop-clab/scenarios/sr-policy-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-2site/README.md
  examples/interop-clab/scenarios/sr-policy-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-2site/vinbero/start.sh
  pkg/bgp/gobgp/advertise_srpolicy_test.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(interop): BGP-learned SR Policy scenario (sr-policy-bgp-2site)
  .github/workflows/interop-clab.yaml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-bgp-2site/README.md
  examples/interop-clab/scenarios/sr-policy-bgp-2site/clab.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/frr/frr.conf
  examples/interop-clab/scenarios/sr-policy-bgp-2site/frr/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/srctl/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/srctl/vinbero.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/vinbero/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(sr-policy): address OCR round-2 should-fix findings
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/srpolicy.go
  pkg/bgp/apply/srpolicy_test.go
  pkg/bgp/gobgp/subscriber.go
  pkg/server/bgp_route.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(design): SRv6 over BGP design doc and API sequence diagrams
  docs/design/ja/api_sequence.md
  docs/design/ja/srv6_bgp.md
Due: check-executables-have-shebangs, mixed-line-ending

test(interop): rebuild sr-policy-bgp-2site as edge-to-edge SR Policy + TE
  examples/interop-clab/scenarios/sr-policy-bgp-2site/README.ja.md
  examples/interop-clab/scenarios/sr-policy-bgp-2site/README.md
  examples/interop-clab/scenarios/sr-policy-bgp-2site/clab.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/core/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/frr/frr.conf
  examples/interop-clab/scenarios/sr-policy-bgp-2site/frr/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/pe-osaka/vinbero.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/pe-tokyo/vinbero.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/srctl/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/test.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/vinbero/start.sh
  examples/interop-clab/scenarios/sr-policy-bgp-2site/vinbero/vinbero.yml
  examples/interop-clab/scenarios/sr-policy-bgp-2site/waypoint/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(server): share SR Policy endpoint/segment validation
  pkg/server/bgp_route.go
  pkg/server/srpolicy.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): advertise VPN routes with a Color Extended Community
  api/vinbero/v1/bgp_route.pb.go
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_color_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix(bgp): enforce the IPv6 endpoint/segment invariant uniformly
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  pkg/server/srpolicy.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): make sr_policy_map include explicit, reject policy_id 0, name SR Policy error keys
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_srpolicy_test.go
  pkg/server/bgp_route.go
  pkg/server/srpolicy.go
  src/headend/srv6_encaps.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): reject IPv4 next hop on SR Policy advertise at the RPC boundary
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  pkg/server/srpolicy_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): drop malformed SR Policy segment lists at decode and headend compose
  pkg/bgp/gobgp/decode_srpolicy.go
  pkg/bgp/gobgp/decode_srpolicy_test.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/headend/srv6_encaps.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(bgp): make sr_policy_map capacity configurable and tidy SID validation
  pkg/bgp/gobgp/decode_srpolicy.go
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/config/config.go
  src/core/xdp_map.h
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs(loadmap): mark SR Policy (SAFI 73) as Supported
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

feat(bgp): receive BGP EVPN RT2 (MAC/IP) into the L2 data plane (Phase E1)
  api/vinbero/v1/vrf_bgp.pb.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/decode_evpn.go
  pkg/bgp/gobgp/decode_evpn_test.go
  pkg/bgp/gobgp/evpn_e2e_test.go
  pkg/bgp/gobgp/session.go
  pkg/bgp/gobgp/subscriber.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/config/config.go
  pkg/server/vrf_bgp.go
  pkg/vrfbgp/manager.go
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

style(proto): buf-format vrf_bgp comment alignment
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint

fix(server): reject out-of-range bd_id on VrfBgpBind instead of truncating
  pkg/server/vrf_bgp.go
  pkg/server/vrf_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): advertise BGP EVPN RT2 (MAC/IP) from local state (Phase E4)
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_evpn.go
  pkg/bgp/gobgp/advertise_evpn_test.go
  pkg/cli/cmd_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  pkg/server/server.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

style(proto): buf-format bgp_route comment alignment
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint

feat(config): apply VRF<->RT bindings from config before BGP receives
  cmd/vinberod/main.go
  pkg/config/config.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(interop): add evpn-2site SRv6 EVPN L2VPN scenario
  .github/workflows/interop-clab.yaml
  examples/interop-clab/scenarios/evpn-2site/README.ja.md
  examples/interop-clab/scenarios/evpn-2site/README.md
  examples/interop-clab/scenarios/evpn-2site/clab.yml
  examples/interop-clab/scenarios/evpn-2site/core/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-osaka/vinbero.yml
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/start.sh
  examples/interop-clab/scenarios/evpn-2site/pe-tokyo/vinbero.yml
  examples/interop-clab/scenarios/evpn-2site/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(bgp): keep EVPN bookkeeping consistent with BPF map on withdraw errors
  pkg/bgp/apply/applier_test.go
  pkg/bgp/apply/evpn.go
  pkg/bgp/apply/evpn_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(vinberod): apply config vrf_bindings only when BGP is enabled
  cmd/vinberod/main.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
