Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

refactor: cross-phase simplify pass over the GoBGP integration stack
  cmd/vinberod/main.go
  pkg/bgp/bgp.go
  pkg/bgp/gobgp/session.go
  pkg/bpf/owner.go
  pkg/locator/allocator.go
  pkg/locator/binding.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(config): scope the post-unmarshal SetDefaults to bgp.peers[]
  pkg/config/config.go
  pkg/config/config_bgp_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): embed GoBGP behind a BGPd-agnostic interface (Phase 1c) (#33)
  cmd/vinberod/main.go
  go.mod
  go.sum
  pkg/bgp/bgp.go
  pkg/bgp/bgp_test.go
  pkg/bgp/client.go
  pkg/bgp/client_test.go
  pkg/bgp/gobgp/session.go
  pkg/bgp/gobgp/session_test.go
  pkg/bpf/owner.go
  pkg/config/config.go
  pkg/config/config_bgp_test.go
  pkg/locator/allocator.go
  pkg/locator/binding.go
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(fib): inject BGP-learned routes into the kernel FIB (Phase 1d-a)
  go.mod
  pkg/fib/route.go
  pkg/fib/route_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): bridge GoBGP WatchEvent to RouteSubscriber (Phase 1d-b)
  cmd/vinberod/main.go
  pkg/bgp/gobgp/subscriber.go
  pkg/bgp/gobgp/subscriber_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): decode SRv6 service SID / RD / RT from VPN routes (Phase 1d-c)
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_test.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): apply received VPN routes to the data plane (Phase 1d-d, 1d-e)
  api/vinbero/v1/vinberov1connect/vrf_bgp.connect.go
  api/vinbero/v1/vrf_bgp.pb.go
  api/vinbero/v1/vrf_bgp_grpc.pb.go
  cmd/vinberod/main.go
  pkg/bgp/apply/applier.go
  pkg/bgp/apply/applier_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/server/server.go
  pkg/server/vrf_bgp.go
  pkg/vrfbgp/manager.go
  pkg/vrfbgp/manager_test.go
  proto/vinbero/v1/vrf_bgp.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test(bgp): end-to-end VPNv4 receive test + 1d simplify fixes (Phase 1d-f)
  pkg/bgp/apply/applier.go
  pkg/bgp/gobgp/e2e_test.go
  pkg/bpf/maps.go
  pkg/bpf/owner_conflict_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): implement RouteAdvertiser for VPN / unicast routes (Phase 1e-a)
  go.mod
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/bgp/gobgp/session.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: gofmt-clean files in the BGP integration stack
  pkg/bgp/bgp.go
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/cli/cmd_locator.go
  pkg/server/headendv4.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat(bgp): operator-explicit BGP advertise via BgpRouteService (Phase 1e-b)
  api/vinbero/v1/bgp_route.pb.go
  api/vinbero/v1/bgp_route_grpc.pb.go
  api/vinbero/v1/vinberov1connect/bgp_route.connect.go
  cmd/vinberod/main.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_bgp.go
  pkg/cli/cmd_vrf_bgp.go
  pkg/server/bgp_route.go
  pkg/server/bgp_route_test.go
  pkg/server/server.go
  proto/vinbero/v1/bgp_route.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat(bgp): implement RouteAdvertiser for VPN / unicast routes (Phase 1e-a)
  go.mod
  pkg/bgp/gobgp/advertise.go
  pkg/bgp/gobgp/advertise_test.go
  pkg/bgp/gobgp/session.go
  pkg/bgp/gobgp/subscriber.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test(bgp): add 2-router netns E2E for the GoBGP integration
  pkg/bgp/gobgp/e2e_test.go
  pkg/bgp/gobgp/netns_e2e_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

docs: add a BGP control-plane section to the SRv6 roadmap
  docs/loadmap.md
Due: check-executables-have-shebangs, mixed-line-ending

docs(examples): tidy the l3vpn-2site README and add a Japanese version
  examples/interop-clab/scenarios/l3vpn-2site/README.ja.md
  examples/interop-clab/scenarios/l3vpn-2site/README.md
Due: check-executables-have-shebangs, mixed-line-ending

refactor(examples): restructure FRR interop lab into a multi-scenario interop-clab library
  .github/workflows/interop-clab.yaml
  examples/frr-interop-clab/Makefile
  examples/interop-clab/Makefile
  examples/interop-clab/README.md
  examples/interop-clab/images/frr/Dockerfile
  examples/interop-clab/images/frr/daemons
  examples/interop-clab/images/vinbero/Dockerfile
  examples/interop-clab/scenarios/l3vpn-2site/README.md
  examples/interop-clab/scenarios/l3vpn-2site/clab.yml
  examples/interop-clab/scenarios/l3vpn-2site/core/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/frr/frr.conf
  examples/interop-clab/scenarios/l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/test.sh
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(examples): add FRR <-> Vinbero BGP SRv6 L3VPN interop lab
  examples/frr-interop-clab/Dockerfile
  examples/frr-interop-clab/Makefile
  examples/frr-interop-clab/README.md
  examples/frr-interop-clab/clab.yml
  examples/frr-interop-clab/frr/Dockerfile
  examples/frr-interop-clab/frr/daemons
  examples/frr-interop-clab/frr/frr.conf
  examples/frr-interop-clab/frr/start.sh
  examples/frr-interop-clab/test.sh
  examples/frr-interop-clab/vinbero/start.sh
  examples/frr-interop-clab/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(examples): extend FRR interop lab to a working SRv6 L3VPN data plane
  examples/frr-interop-clab/Makefile
  examples/frr-interop-clab/README.md
  examples/frr-interop-clab/clab.yml
  examples/frr-interop-clab/frr/start.sh
  examples/frr-interop-clab/test.sh
  examples/frr-interop-clab/vinbero/start.sh
  examples/frr-interop-clab/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

ci: add FRR interop containerlab workflow
  .github/workflows/frr-interop.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(examples): rebuild FRR interop lab as a 2-site SRv6 L3VPN
  examples/frr-interop-clab/Makefile
  examples/frr-interop-clab/README.md
  examples/frr-interop-clab/clab.yml
  examples/frr-interop-clab/core/start.sh
  examples/frr-interop-clab/frr/frr.conf
  examples/frr-interop-clab/frr/start.sh
  examples/frr-interop-clab/test.sh
  examples/frr-interop-clab/vinbero/start.sh
  examples/frr-interop-clab/vinbero/vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

feat(bgp): apply RFC 9252 SID transposition when decoding service SIDs
  examples/frr-interop-clab/README.md
  examples/frr-interop-clab/frr/start.sh
  examples/frr-interop-clab/test.sh
  pkg/bgp/gobgp/decode.go
  pkg/bgp/gobgp/decode_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix(examples): modprobe vrf in interop-clab deploy
  examples/interop-clab/Makefile
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix(ci): explicitly load vrf module and surface VRF-create failures
  .github/workflows/interop-clab.yaml
  examples/interop-clab/scenarios/l3vpn-2site/frr/start.sh
  examples/interop-clab/scenarios/l3vpn-2site/vinbero/start.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix(ci): install linux-modules-extra so the runner kernel has vrf
  .github/workflows/interop-clab.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

refactor(ci): try modprobe vrf before apt-get install in interop-clab
  .github/workflows/interop-clab.yaml
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
