Repository takehaya/Vinbero: changes, and which lefthook commands are due for each by the changed paths.
All: check-executables-have-shebangs, trailing-whitespace, yamllint, check-json, check-toml, mixed-line-ending, buf-format, buf-lint, golangci-lint, ansible-lint

check-executables-have-shebangs:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if [ -x \"$file\" ] && [ -f \"$file\" ] && ! grep -q '^#!' \"$file\"; then\n    echo \"Executable without shebang: $file\"\n    exit 1\n  fi\ndone\n"

trailing-whitespace:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  if grep -q '[[:space:]]$' \"$file\"; then\n    sed -i 's/[[:space:]]*$//' \"$file\"\n    echo \"Fixed trailing whitespace in: $file\"\n  fi\ndone\n"

yamllint:
  run: yamllint -f colored {staged_files}

check-json:
  run: "failed=0\nfor f in {staged_files}; do\n  if ! jq -e empty \"$f\" >/dev/null 2>&1; then\n    echo \"JSON parse error in $f\"\n    jq empty \"$f\"\n    failed=1\n  fi\ndone\nexit $failed\n"

check-toml:
  run: taplo check {staged_files}

mixed-line-ending:
  run: "for file in {staged_files}; do\n  # Skip non-text files\n  if ! file --mime-type \"$file\" | grep -q \"text/\"; then\n    continue\n  fi\n  dos2unix -q \"$file\"\ndone\n"

buf-format:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf format -w \"$BUF_ROOT\" $ARGS\n"

buf-lint:
  run: "BUF_ROOT=./proto\nARGS=\"\"\nfor f in {staged_files}; do\n  [ -f \"$f\" ] || continue\n  ARGS=\"$ARGS --path $f\"\ndone\n[ -n \"$ARGS\" ] && buf lint \"$BUF_ROOT\" $ARGS\n"

golangci-lint:
  run: golangci-lint run --fix

ansible-lint:
  run: ansible-lint --fix -x role-name {staged_files}

feat: implement End.X, End.T and SRv6 flavors (PSP/USP/USD)
  .github/workflows/test.yaml
  docs/loadmap.md
  examples/end-t/setup.sh
  examples/end-t/teardown.sh
  examples/end-t/test.sh
  examples/end-t/vinbero_router2.yaml
  examples/end-x/setup.sh
  examples/end-x/teardown.sh
  examples/end-x/test.sh
  examples/end-x/vinbero_router2.yaml
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve.go
  pkg/cli/resolve_test.go
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_endpoint.h
  src/srv6_fib.h
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: use route replace instead of add for VRF table routes in end-t example
  examples/end-t/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: add onlink flag for VRF route install in end-t example
  examples/end-t/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

fix: re-add IPv6 addresses after VRF enslave in end-t example
  examples/end-t/setup.sh
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

feat: add Reduced SRH (.Red) support for H.Encaps, H.Encaps.L2, H.Insert
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_bdpeer.go
  pkg/cli/cmd_headend.go
  pkg/cli/resolve_test.go
  pkg/server/bd_peer.go
  pkg/server/headendl2.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_decaps.h
  src/srv6_encaps_red.h
  src/srv6_headend.h
  src/srv6_headend_utils.h
  src/srv6_insert.h
  src/tc_bum.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: implement End.B6.Insert and End.B6.Encaps with Reduced SRH variants
  api/vinbero/v1/vinbero.pb.go
  docs/dev/end_x_end_t_flavors.md
  docs/loadmap.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_sid.go
  pkg/server/sid_function.go
  proto/vinbero/v1/vinbero.proto
  src/srv6_end_b6.h
  src/xdp_map.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

feat: implement End.B6.Insert/Encaps with Reduced SRH variants (#13)
  api/vinbero/v1/enums.pb.go
  api/vinbero/v1/vinbero.pb.go
  docs/loadmap.md
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/cmd_bdpeer.go
  pkg/cli/cmd_headend.go
  pkg/cli/cmd_sid.go
  pkg/cli/resolve_test.go
  pkg/server/bd_peer.go
  pkg/server/headendl2.go
  pkg/server/sid_function.go
  proto/vinbero/v1/enums.proto
  proto/vinbero/v1/vinbero.proto
  src/srv6.h
  src/srv6_decaps.h
  src/srv6_encaps_red.h
  src/srv6_end_b6.h
  src/srv6_headend.h
  src/srv6_headend_utils.h
  src/srv6_insert.h
  src/tc_bum.h
  src/xdp_map.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: improve GTP-U encap correctness and add scapy E2E tests
  examples/gtp4-encap/README.md
  examples/gtp4-encap/send_gtpu.py
  examples/gtp4-encap/test.sh
  examples/gtp6-drop-in/test.sh
  examples/gtp6-encap/send_gtpu_v6.py
  examples/gtp6-encap/test.sh
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test.go
  src/srv6_gtp.h
  src/srv6_gtp_decap.h
  src/srv6_gtp_encap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

fix: address PR review findings for GTP-U/SRv6 implementation
  examples/gtp6-encap/send_gtpu_v6.py
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/xdp_test_helpers_test.go
  pkg/packet/gtpu.go
  pkg/server/headendv4.go
  pkg/server/sid_function.go
  src/srv6_gtp.h
  src/srv6_gtp_decap.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: restructure src/ into functional subdirectories
  docs/dev/src-refactoring.md
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.o
  src/core/srv6.h
  src/core/srv6_fib.h
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/core/xdp_stats.h
  src/core/xdpcap.h
  src/endpoint/srv6_decaps.h
  src/endpoint/srv6_end_b6.h
  src/endpoint/srv6_endpoint.h
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/srv6_endpoint_l2.h
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_l2.h
  src/headend/srv6_encaps_red.h
  src/headend/srv6_headend.h
  src/headend/srv6_headend_utils.h
  src/headend/srv6_insert.h
  src/l2vpn/bum_meta.h
  src/l2vpn/tc_bum.h
  src/mobile/srv6_gtp.h
  src/mobile/srv6_gtp_decap.h
  src/mobile/srv6_gtp_encap.h
  src/srv6_endpoint.h
  src/srv6_headend.h
  src/xdp_prog.c
  src/xdp_utils.h
  src/xdp_vlan.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: restructure BPF data plane code and add VLAN support
  docs/dev/src-refactoring.md
  src/core/xdp_prog.h
  src/endpoint/srv6_decaps.h
  src/endpoint/srv6_end_b6.h
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/srv6_endpoint_l2.h
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_red.h
  src/headend/srv6_insert.h
  src/mobile/srv6_gtp_decap.h
  src/mobile/srv6_gtp_encap.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor: reduce duplication in endpoint/headend functions
  src/endpoint/srv6_end_b6.h
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/headend/srv6_encaps.h
  src/headend/srv6_encaps_l2.h
  src/headend/srv6_encaps_red.h
  src/headend/srv6_headend_utils.h
  src/headend/srv6_insert.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor: reduce IPv6 header and VLAN duplication in tc_bum.h
  src/l2vpn/tc_bum.h
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending

refactor: split sid_function_entry into generic + auxiliary ARRAY map
  pkg/bpf/bpf.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/config/config.go
  pkg/server/network_resource.go
  pkg/server/sid_function.go
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/endpoint/srv6_endpoint_basic.h
  src/endpoint/srv6_endpoint_core.h
  src/endpoint/srv6_endpoint_decap.h
  src/endpoint/srv6_endpoint_l2.h
  src/mobile/srv6_gtp_decap.h
  src/mobile/srv6_gtp_encap.h
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

chore: add pr temp
  .github/PULL_REQUEST_TEMPLATE.md
Due: check-executables-have-shebangs, mixed-line-ending

fix: recover aux index allocator state on startup
  pkg/bpf/maps.go
  pkg/vinbero/vinbero.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add stats CLI command for XDP packet statistics
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  pkg/bpf/maps.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_stats.go
  pkg/server/server.go
  pkg/server/stats.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

refactor: integrate end_b6_policy_map into sid_aux_map and fix GTP6.E read-back
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/server/sid_function.go
  src/core/xdp_map.h
  src/core/xdp_prog.h
  src/endpoint/srv6_end_b6.h
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add stats reset command and FDB aging
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  pkg/bpf/bpf_bpfeb.go
  pkg/bpf/bpf_bpfeb.o
  pkg/bpf/bpf_bpfel.go
  pkg/bpf/bpf_bpfel.o
  pkg/bpf/maps.go
  pkg/cli/cmd_stats.go
  pkg/config/config.go
  pkg/netlinkwatch/fdb_watcher.go
  pkg/server/stats.go
  pkg/vinbero/vinbero.go
  proto/vinbero/v1/vinbero.proto
  src/core/xdp_prog.h
  src/endpoint/srv6_endpoint_l2.h
  src/xdp_prog.c
  vinbero.yml
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test: add tests for sid_aux round-trip, stats, FDB aging, index recovery
  pkg/bpf/maps.go
  pkg/bpf/maps_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

refactor: rename DmacService to FdbService, add aging info to fdb list, fix lint
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  pkg/bpf/maps.go
  pkg/bpf/xdp_test_helpers_test.go
  pkg/cli/app.go
  pkg/cli/client.go
  pkg/cli/cmd_dmac.go
  pkg/cli/cmd_fdb.go
  pkg/server/dmac.go
  pkg/server/fdb.go
  pkg/server/server.go
  pkg/vinbero/vinbero.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

test: add GTP6.D and GTP6.E XDP tests, clarify DT46 nosrh scope
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
  src/xdp_prog.c
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

test: add GTP6.D.DI test, update ebpf map reference doc
  docs/dev/ebpf_map_reference.md
  pkg/bpf/xdp_test.go
  pkg/bpf/xdp_test_helpers_test.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

feat: add fdb create/delete CLI for static MAC entries
  api/vinbero/v1/vinbero.pb.go
  api/vinbero/v1/vinbero_grpc.pb.go
  api/vinbero/v1/vinberov1connect/vinbero.connect.go
  pkg/cli/cmd_fdb.go
  pkg/server/fdb.go
  proto/vinbero/v1/vinbero.proto
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, buf-format, buf-lint, golangci-lint

fix: improve CI log collection for P2MP test failures
  .github/workflows/test.yaml
  examples/end-dt2-p2mp/test.sh
Due: check-executables-have-shebangs, trailing-whitespace, yamllint, mixed-line-ending

fix: address Copilot review feedback
  docs/dev/ebpf_map_reference.md
  pkg/bpf/maps.go
  pkg/server/server.go
Due: check-executables-have-shebangs, trailing-whitespace, mixed-line-ending, golangci-lint

Path conditions:
  check-executables-have-shebangs: any of: **/*
  trailing-whitespace: any of: **/*, but not: *.md, *.patch
  yamllint: any of: **/*.{yml,yaml}
  check-json: any of: **/*.json, but not: .vscode/**.json
  check-toml: any of: **/*.toml
  mixed-line-ending: any of: **/*
  buf-format: any of: **/*.proto
  buf-lint: any of: **/*.proto
  golangci-lint: any of: **/*.go
  ansible-lint: any of: {scripts/share_server,ansible}/**/*.{yml,yaml}
